[2020-07-08 13:35] goatandsheep opened #1 "Multi env tests pass"
Seems the multi env tests are failing

[2020-07-08 14:23] goatandsheep opened #8 "lint issue xo"
index.js:9:12

  ✖  9:12  Remove unused catch binding _.  unicorn/prefer-optional-catch-binding

[2020-07-08 14:23] goatandsheep opened #9 "migrate to new name"

[2020-07-08 14:23] goatandsheep opened #10 "republish package"

[2020-07-08 14:38] #8 closed

[2020-07-08 14:46] goatandsheep opened #12 "[Security] set-value"
Security advisory: https://github.com/advisories/GHSA-4g88-fppr-53pp

**Dependabot cannot update to the required version**

`set-value vulnerability found in yarn.lock`

[2020-07-08 15:01] goatandsheep commented on #12
Not an issue https://github.com/jonschlinkert/mixin-deep/issues/6

[2020-07-08 15:01] #12 closed

[2020-07-08 15:13] #9 closed

[2020-07-09 20:17] xRiot opened #15 "Version 2.2.0 creating Babel issues in other packages?"
For more context, please refer to this issue report [react-native#29314](https://github.com/facebook/react-native/issues/29314).

After upgrading from version `0.2.0` to `2.2.0,` this package started causing errors in other non-related packages, here's a list from my environment:
[code]
Packages in my environment works fine with latest releases, expect for this one from trial and error.

I'm tryin

[2020-07-09 23:12] cardiohelge commented on #15
These BABEL errors cost me the day, because I was thinking my 0.63.0 update caused it. I went back to 0.2.0 for now.

[2020-07-11 18:22] crobinson42 commented on #15
For what it's worth - I ran into a few issues also and realized I needed to remove the `preset` that I had used with version 0.2.0 - after restarting metro and clearing cache i'm up and running.

[code]

[2020-07-12 05:03] makearts opened #16 "Do i have to install babel-plugin-dotenv-import?"
After i update to 2.2.0 i follow all ReadMe but it says cannot find module 'babel-plugin-dotenv-import'... so after i install that package it works fine is it normal??

And i have another question. when i read 'babel-plugin-dotenv-import' projects readme it is really same with this project. is there some relationship between both project??

[2020-07-13 20:23] ryanhefner commented on #15
@crobinson42 Did `'dotenv-import'` really work for you? I had to change mine to `'module:react-native-dotenv'` within `plugins` to prevent it from throwing errors on launch.

[2020-07-13 20:24] crobinson42 commented on #15
Yes, it works

[2020-07-13 21:10] ryanhefner commented on #15
@crobinson42 Weird, doesn't work for me. I had to use the following in my `babel.config.js`:

[code]

Or, with the config:

[code]

Do you have the `babel-plugin-dotenv-import` package in your project as well? I do not, not sure if that’s what is different between our projects.

[2020-07-14 02:33] makearts commented on #16
oh thanks now i understand!! so is this same with "babel-plugin-dotenv-import" ? or have other performance?

[2020-07-14 13:40] actuallymentor opened #18 "Relation to zetachang/react-native-dotenv - migration guide?"
For a longer-time `react-native-dotenv` user it is very confusing to suddenly have a different repo and no `breaking changes` or `migration` mentions in the readme.

Is this the same/related package? Why was this moved?

[2020-07-15 14:15] NiwuoDev opened #20 "Unable to resolve module 'fs' from 'node_modules/react-native-dotenv/index.js'"
I just found the new update of this package. And wanted to update it in order to keep my project up to date.

But when I try to execute it I got this error.
![image](https://user-images.githubusercontent.com/21696326/87555414-06779a00-c67b-11ea-99f0-7ddb5dc6a76a.png)

I'm on Expo SDK V37

**Package.json**
[code]

**.babelrc**

[code]

[2020-07-16 15:29] Joshmatjjen opened #22 "Cannot find module 'babel-plugin-dotenv-import'"

[2020-07-16 19:55] twom commented on #20
Can you verify that you replaced all 'react-native-dotenv' imports with the '@env' import?

That should do the trick! ('fs' is not available on react-native, however this code is really needed at build time only)

[2020-07-16 19:56] twom commented on #22
is your babel.config.js different then this one?

[code]

[2020-07-16 21:20] NiwuoDev commented on #20
@twom Thank you for the response, yes it fixed the error.

[2020-07-16 21:23] #20 closed

[2020-07-17 10:14] ryanhefner commented on #22
The `README` is incorrect. I made a PR to address it, #17, but it should work if you use what @twom provided.

[2020-07-17 11:35] Joshmatjjen commented on #22
Yes.. the problem was from the plug-in...Thanks

[2020-07-17 11:35] #22 closed

[2020-07-17 12:39] priyankar-navsoft opened #23 "SyntaxError: Unexpected token"
react-native-dotenv/index.js:9
  } catch {
          ^
SyntaxError: Unexpected token {

This error I am getting. What can be the cause?

[2020-07-18 10:48] Adam-Reeves commented on #15
This worked for me, thanks :)

[2020-07-19 03:12] andreslargo commented on #18
+1

[2020-07-19 03:22] teamzz111 commented on #18
+1

I've the same problem, is related? Other repository has been closed

[2020-07-20 10:45] JoaRiski commented on #15
Hit this issue with expo and babel, what fixed it for me was removing `module:react-native-dotenv` from presets and adding
[code]
to plugins

[2020-07-21 15:57] tux-tn opened #25 "What's the difference with babel-plugin-dotenv-import"
Hello,

Can you explain what is the difference between your repo and ```babel-plugin-dotenv-import``` and how/why you took over ownership of ```react-native-dotenv``` package on npmjs.org ?

[2020-07-27 12:12] #16 closed

[2020-07-28 02:30] goatandsheep commented on #25
Hey @tux-tn I'm going to address it in #18 . Thanks for your question!

[2020-07-28 02:30] #25 closed

[2020-07-28 02:34] goatandsheep commented on #18
That's very fair! There were a number of security issues with the other repository. It hadn't been updated for years. The owner was unable to maintain it. I reached out to him and he transferred ownership to me so that I can maintain it. Migration guide is _very_ good feedback. I'm going to work on something of the sort sometime this week.

I took babel-plugin-dotenv-import as the starting point a

[2020-07-28 02:48] goatandsheep commented on #23
So this is explained in [this stackoverflow article](https://stackoverflow.com/a/56001361). I thought we could be clever and take advantage of the feature, but it is not supported by many older browsers. What I'll do is add a verbose mode that will spit out the errors conditionally so we can re-add the `err`:

[code]
without the linter complaining about not using the `err`

[2020-07-28 02:49] #10 closed

[2020-07-28 03:22] goatandsheep opened #30 "Example test app needed"
Basic test app to fully test all changes in an actual app setting

- 👀 Should this be a [repo](https://github.com/goatandsheep/whats-my-ip-native)
- 🚀 Or a [snack app](https://snack.expo.io/@goatandsheep/react-native-dotenv-testapp)?

[2020-07-28 03:36] goatandsheep commented on #1
This will signify our first release

[2020-07-28 03:40] goatandsheep commented on #15
Hey folks thank you for creating this ticket! I merged your PR @ryanhefner . Let me know if the latest release works for you and if so I'll close this ticket.

[2020-07-28 03:41] goatandsheep commented on #23
Thank you for opening this, @priyankar-navsoft let me know if the latest release solves this issue.

[2020-07-28 03:57] twinedo opened #32 "Unable to resolve module `fs`"
I have issue like this:

error: Error: Unable to resolve module `fs` from `node_modules/react-native-dotenv/index.js`: fs could not be found within the project.

somebody can help???

[2020-07-28 04:46] goatandsheep commented on #32
Seems related to [this issue](https://github.com/tusbar/babel-plugin-dotenv-import/issues/8). Do you think your babel is configured properly?

[2020-07-28 14:57] actuallymentor commented on #18
First off: I have nothing but respect for fellow open source contributors, thank you for picking up an abandoned project.

My main feedback points would be:

1. Your current setup is not backwards compatible so a migration guide seems like a first priority
2. As me and @teamzz111 indicated, the above info would help ease the confusion of long-time users, maybe a little 'reason for this migration'

[2020-07-29 09:50] twom commented on #32
@goatandsheep  and @twinedo
see https://github.com/goatandsheep/react-native-dotenv/issues/20

This seems to stem from not renaming the import from 'react-native-dotenv' to '@env'

Maybe something to put in the migration guide or even a quick FAQ on the Readme.

[2020-07-30 17:12] 2manoj1 opened #38 "In production Release failed - env variable not importing"
On Production build ios React Native 0.63.2 build failed. From `@env` variable not importing.

[2020-07-30 17:27] goatandsheep commented on #38
What is the error? What does your `.babelrc` look like?

[2020-07-30 17:37] goatandsheep commented on #15
@JoaRiski have you noticed that there are issues with `allowUndefined: false`? It's currently the default.

[2020-07-30 17:44] goatandsheep commented on #38
If this is your project https://github.com/2manoj1/breactnative/blob/master/babel.config.js , make sure to add the module to your list of babel plugins

https://github.com/goatandsheep/react-native-dotenv/wiki/Migration-Guide#2

[2020-07-30 18:00] goatandsheep commented on #18
I've created the [beginning of a migration guide](https://github.com/goatandsheep/react-native-dotenv/wiki/Migration-Guide)

[2020-07-30 18:42] 2manoj1 commented on #38
[code]
@goatandsheep Its my config. Its running development mode but in production build its failed.

[2020-07-31 03:12] goatandsheep opened #41 "Clean yarn.lock"

[2020-07-31 04:28] twinedo commented on #32
Thank you for your response. And sorry for super late response.
I have solve this issue by install module fs, then setup babel.config.js like read.md..
Thank you all 🙏

[2020-07-31 04:51] goatandsheep commented on #32
@twinedo awesome! I'm so glad we were able to resolve this. You said you installed fs as an additional module? As in you used the fs built into node or a different npm module?

[2020-07-31 06:01] twinedo commented on #32
i use yarn. when i check folder node_modules, there is no fs module. I don't why. So i install it 😁

[2020-07-31 09:00] actuallymentor commented on #18
I see you added the history and migration guide to the `README.md`, thank you for picking up this issue so quickly. In it's current form I think most people will be able to understand the history and have a clear path to migrating.

One thing that might be worth it is using some more conventional documentation terminology, for example changing:

To something like:

**Breaking changes:** moving fro

[2020-07-31 19:14] JoaRiski commented on #15
@goatandsheep I didn't happen to test that unfortunately

[2020-07-31 20:47] goatandsheep commented on #15
@JoaRiski no problem! Let me know ☺️

[2020-07-31 21:04] #41 closed

[2020-07-31 21:10] goatandsheep commented on #12
Also this security advisory was resolved by #44

[2020-07-31 21:45] goatandsheep commented on #32
Well I'm happy it worked for you. [fs](https://www.npmjs.com/package/fs) is an empty module 🤡 I'm going to close this. let me know if I need to reopen.

[2020-07-31 21:45] #32 closed

[2020-07-31 21:48] goatandsheep opened #46 "Add stalebot config"
https://probot.github.io/apps/stale/

[2020-08-03 17:09] goatandsheep commented on #38
Related to https://github.com/tusbar/babel-plugin-dotenv-import/issues/164

[2020-08-04 20:51] goatandsheep commented on #15
@tomcastro what is your babel config?

[2020-08-04 21:09] goatandsheep opened #47 "Looking for backup collaborators"
I'm looking to find a backup collaborator. It's not a good thing when projects have only 1 collaborator. It's better for project longevity to have some redundancy.

[2020-08-05 06:55] tamacroft opened #49 "How to use development env"
Hi, how to use prod/dev env with .env or .env.development?

[2020-08-06 11:46] oleksandr-dziuban commented on #38
@goatandsheep Same for me, all production builds failed
``SyntaxError: /Users/oleksandr_dziuban/Projects/ELAT-DEV/mobile-web-app/ios/src/core/env.js: "RAYGUN_API_KEY" is not defined in .env``

[2020-08-06 12:49] AndriyF commented on #38
@oleksandr-dziuban Dirty workaround to fix failed builds in my case was to set `allowUndefined: true` in a babel config file.

[2020-08-06 13:08] goatandsheep commented on #38
@AndriyF do you think `allowUndefined: true` should be set as default?

[2020-08-06 14:04] AndriyF commented on #38
@goatandsheep there are no restrictions set by default, soI think for the sake for consistency it's better to have `allowUndefined: true`

[2020-08-06 15:23] goatandsheep commented on #38
I've changed the default for `v2.3.0`. For the rest of the issues, I've [placed a bounty for $15](https://www.bountysource.com/issues/92243570-in-production-release-failed-env-variable-not-importing)

[2020-08-06 15:26] goatandsheep commented on #49
Hi @tamacroft this is still a pending feature. Duplicated by ticket #1

[2020-08-06 15:26] #49 closed

[2020-08-06 15:27] goatandsheep commented on #18
@actuallymentor I've since made those changes. Can we close this ticket?

[2020-08-06 15:46] actuallymentor commented on #18
Yup, thanks again for the quick communication!

[2020-08-06 15:46] #18 closed

[2020-08-06 16:04] goatandsheep commented on #15
@JoaRiski I ended up setting `allowUndefined` true as default

[2020-08-06 17:07] 2manoj1 commented on #38
@goatandsheep check this. In code two dotenv config. can you check this.
<img width="507" alt="Screenshot 2020-08-06 at 10 32 36 PM" src="https://user-images.githubusercontent.com/15128569/89560707-1119ef00-d835-11ea-90f4-3a813a839ebf.png">

[2020-08-06 17:47] goatandsheep commented on #1
Perhaps move from dotenv to [dotenv-flow](https://www.npmjs.com/package/dotenv-flow)

[2020-08-06 17:53] goatandsheep commented on #38
@2manoj1 that isn't it. The `dotenv` creators suggest it here: ( https://github.com/motdotla/dotenv/issues/390#issuecomment-487214696 ). Also, the issue is also present in the original fork https://github.com/goatandsheep/react-native-dotenv/issues/38#issuecomment-668137017

[2020-08-07 05:03] JanithaR opened #52 "Error: Unable to resolve module `@env` from `src/utils.ts`: @env could not be found within the project."
I'm using yarn.

React Native info

My import statement
`import { FIXER_KEY } from '@env';`
Typescript complains about this with

My .babelrc contents
`{
    "plugins": [
        [
            "module:react-native-dotenv",
            {
                "moduleName": "@env",
                "path": ".env",
                "blacklist": null,
                "whitelist": null,
                "safe":

[2020-08-09 14:44] mylonasg88 commented on #52
Same here. I followed instructions:
[code]

 I tried to install the `fs` module by `yarn add fs` but it kept failing with more errors.

[2020-08-09 19:51] goatandsheep opened #53 "Fix documentation re new default"
It should say:

[2020-08-10 00:09] fahadtejani commented on #46
@goatandsheep no labels? should I name the new branch "feature/gh..."

[2020-08-10 00:10] fahadtejani commented on #53
@goatandsheep close ticket?

[2020-08-10 00:53] goatandsheep commented on #46
@fahadtejani up to you how to name the branch but that sounds good

[2020-08-10 00:53] #53 closed

[2020-08-10 01:34] #46 closed

[2020-08-10 04:51] goatandsheep commented on #52
I believe this is a duplicate of #38

[2020-08-10 04:52] #23 closed

[2020-08-11 07:39] Sterlingryan opened #56 "Android release build is picking debug environment instead of prod"
I'm having an issue where the Android release build is picking up the variables inside .env instead of variables inside .env.production. iOS works fine.

"react-native": "0.62.2",
"react-native-dotenv": "^2.3.0",
"babel-plugin-dotenv-import": "^2.1.0",

.bablerc:
[code]
babel.config.js
[code]

[2020-08-11 19:02] goatandsheep commented on #56
You can either wait for #1 or set path to `.env.production`

[2020-08-12 07:06] ugglr opened #59 "How to use with jest? ReferenceError: ENV_VARIABLE is not defined."
I'm running a react-native project with the typical usage, and getting an error while testing:

[code]

`babel.config.js`
[code]

I use it like this: (for simplicity)

`function.js`
[code]

I add a test to my function: `function.test.js` and does something like this

[code]

Do I need to mock things with jest or what's the workflow?

[2020-08-12 13:15] gboyegadada commented on #52
@goatandsheep This is happening to me too. I don't think it's a duplicate issue. The other issue #38  seems to only affect production builds but I can't even get it working in dev / metro and Typescript complains about the import in vs code (same as with the OP).

I have also done everything @mylonasg88 mentioned.

Here is my config file:

[code]
![Image 12-08-2020 at 14 11](https://user-images.gi

[2020-08-12 13:32] goatandsheep commented on #38
@2manoj1 is this also affecting dev builds like ticket #52

[2020-08-12 13:38] goatandsheep commented on #56
you may also use the env option in [babel](https://babeljs.io/docs/en/options#env)

[2020-08-12 15:36] 2manoj1 commented on #38
No. In Dev build it was worked as expected.

[2020-08-12 18:47] goatandsheep commented on #38
I think I know what the issue is. I'll address it this weekend.

[2020-08-13 02:54] ajaxjiang96 commented on #52
I am using typescript and I've encountered the same issue after upgrading to `2.x`. Here is a workaround for it:
- Create a `types` folder in your project
- Inside that folder, create a `*.d.ts`file, say, `env.d.ts`
- in that file, declare a module as the following format:
[code]
You should add all of your .env variables inside this module.

- Finally, add this folder into the `typeRoots` field in

[2020-08-13 12:08] aashnisshah opened #61 "bundling failed: index.js: [BABEL] /Users/aashnishah/dev/<project>/index.js: Unknown option: .name."
Hey folks!

Been trying to get `react-native-dotenv` working in my project but have been running into the following problem:
`bundling failed: index.js: [BABEL] /Users/aashnishah/dev/<project>/index.js: Unknown option: .name.`

babel.config.js:
[code]

package.json: (tried it in both dependencies and devDependencies)
[code]

in my code:
[code]

[2020-08-13 12:31] aashnisshah commented on #61
Fixed!

tl;dr: Follow the steps in the [migration docs](https://github.com/goatandsheep/react-native-dotenv/wiki/Migration-Guide) or _actually_ read the setup instructions.

I'd followed setup instructions elsewhere which followed the v1 setup. I missed the part where we needed to move `"module:react-native-dotenv",` from the `presets` to the `plugins` section in the `babel.config.js` file

[2020-08-13 12:31] #61 closed

[2020-08-13 12:39] goatandsheep opened #62 "Autogenerate typescript typings file"
- Create a `types` folder in your project
- Inside that folder, create a `*.d.ts`file, say, `env.d.ts`
- in that file, declare a module as the following format:
[code]
You should add all of your .env variables inside this module.

- Finally, add this folder into the `typeRoots` field in your `tsconfig.json` file:
[code]

_Originally posted by @ajaxjiang96 in https://github.com/goatandsheep/react-n

[2020-08-25 12:27] tobiasbu commented on #59
+1 I'm in the same situation. Is there a way to use this lib with Jest?

[2020-08-25 13:24] BurakKartal1 commented on #38
for those that has empty variables in release builds. just change ur env like this -->

from
`API_URL=YOUR_API_URL`

to
`API_URL='YOUR_API_URL'`

[2020-08-25 13:47] goatandsheep commented on #38
@BurakKartal1 huh. that's interesting. I wonder why that works. Should the library cast the values to strings?

[2020-08-26 20:08] MrtYlnzz commented on #38
I am having same issue on 0.63.2 any update on this?

[2020-08-31 12:48] info-bit commented on #38
I'm having the same problem (react-native is 0.63.2), but nothing of the above worked for me. I can build in debug, but not in production.

[2020-08-31 21:11] #1 closed

[2020-08-31 21:19] goatandsheep commented on #59
Take a look at how the library is doing it https://github.com/goatandsheep/react-native-dotenv/blob/53610ef83f82b9ea15f7973f160fe1e1b0a4e83c/__tests__/index.test.js#L43

essentially, just set the value of your value inside `process.env`. Let me know if that helps!

[2020-08-31 21:20] goatandsheep commented on #38
Can you try again with the new release and let me know if that works?

[2020-08-31 21:23] goatandsheep commented on #52
@LaureneFmy are you having a related issue? I noticed you 👎 the above solution.

[2020-08-31 21:59] goatandsheep commented on #59
I've now added a way to use `.env.test` as environment variables. Does that help?

[2020-09-01 02:19] goatandsheep opened #70 "Update documentation to emphasize multi env"
The newly added multi env features work really well and have been a highly requested feature for a long time. It's here now and unit tests are passing so let's spread the word!

[2020-09-01 08:13] MrtYlnzz commented on #38
@goatandsheep I have tested on 2.4.0 and it seems to have not solved the issue for me.

[2020-09-01 11:31] goatandsheep commented on #38
@MrtYlnzz thank you for checking

[2020-09-01 17:42] developerantoniosousa commented on #59
@goatandsheep I think it can help. But another way to do it would be a way to specify the file, like a way to provide the name of file that be executed that time.

[2020-09-01 18:02] goatandsheep commented on #59
good point! you can do that in your `.babelrc`:

[code]

[2020-09-01 18:15] developerantoniosousa commented on #59
But that process could be better. For example, through the variable that can set the file, because it's cool to determine it of a different way. It could open options, for example, to define a .env.test when the script of test to be executed, without the necessity of update always the path in babel configuration file.

[2020-09-01 18:17] goatandsheep commented on #59
You can actually try both options now to see what works for you :) as of v2.4.0

[2020-09-01 18:20] developerantoniosousa commented on #59
How can I do as I said before?

[2020-09-01 18:30] goatandsheep commented on #59
I actually recommend if you want to do tests with different sets of variables, you just define them inline like how it's done in these Jest tests:
https://github.com/goatandsheep/react-native-dotenv/blob/a1542a7c1970a6141c80c56662dc0954ff85b7d2/__tests__/index.test.js#L43

Specifying multiple individual files will be very tricky and would change how the library operates completely.

You can even d

[2020-09-01 19:29] developerantoniosousa commented on #59
It seems nice!

I solve my problem as you said [before](https://github.com/goatandsheep/react-native-dotenv/issues/59#issuecomment-685038230), I was using an old version of library. I have done the update and the set up and now all works well. Thanks!

[2020-09-02 20:40] goatandsheep commented on #52
Anyone have a test environment https://snack.expo.io ?

[2020-09-03 02:37] JanithaR commented on #52
If it's an example repo you are asking for, here it is. https://github.com/JanithaR/image-finder/blob/master/src/api.ts

[2020-09-05 15:22] hazyikmis commented on #15
Removing from `presets `and then putting `['module:react-native-dotenv'] `into `plugins `worked for me!

[2020-09-07 03:00] ugglr commented on #59
I actually made a work around for this on my end so if @goatandsheep want's to close that's all good on my side, I'm still using the package so I will probably circle back if I run into issues 🤓

[2020-09-07 03:01] goatandsheep commented on #59
@ugglr cool! can you show me a code snippet? maybe it can give me a better idea on what to improve

[2020-09-09 19:48] chmiiller commented on #38
Hi there, thanks for supporting this package.
For me it is working fine on development but I can confirm that **it is not working on release mode** on iOS - I didn't test on Android.
I've just created a react-native project using CRA. My "babel.config.js" file looks like this (I don't know what a "babelrc" file is)

[code]

I'm using:
react: 16.13.1
react-native: 0.63.2
react-native-dotenv: 2.4.0

[2020-09-10 22:38] oalcantarpcore commented on #38
Hi there, thank you for this amazing package :)

I'm having this issue too, in development mode it works perfectly but it fails in release mode (i'm using xCode)...

I changed in my `babel.config.js` the key `allowUndefined` to `true` and the build works but I think it only prevents throw the error because my code is not taking the values from the '.env` file.

I'm using:
"react": "16.13.1",
"reac

[2020-09-14 15:22] NikonovichN opened #73 "Change .env file before start app"
Hello, everyone!

I`m trying to change my .env before start app. It looks like that:

`npm run cd android && ./gradlew clean android && ./gradlew copySettings '-PFILE_SETTINGS=.env.testapp.dev' && cd .. && node node_modules/react-native/local-cli/cli.js run-android --variant=testappDebug --appIdSuffix 'debug' -- --reset-cache",`

But I always get one type of variables. Have any solutions for this

[2020-09-17 10:17] lkspc opened #74 "how multi env works?"
I'm sorry but I really dont know how it works. If there are two files `.env.dev` and `.env.prod`，how does dotenv choose the right one?
 Does it need environment variables from command line like `yarn start NODE_ENV=pro`?  But how to do if I build the project in xcode  where I cannot use command line variables?

**NOTE**: `.env.dev` and `.env.prod` are both used in **Release** version, not in Debug

[2020-09-18 02:57] goatandsheep commented on #74
I need to add this to the readme. Sorry! Basically this is based on the [Babel environments](https://babeljs.io/docs/en/6.26.3/babelrc): `development` and `production`. In other words, it uses `.env.production` or `.env.development`. All that the library does is compare with the Babel environment type.

So sorry, neither dev nor prod will work, but test will!

[2020-09-18 03:01] goatandsheep commented on #73
Only `.env.development`, `.env.test` and `.env.production` will work

[2020-09-18 23:24] marcorivm commented on #59
You can do a lot on the babel config file take a look at https://babeljs.io/docs/en/configuration#javascript-configuration-files, why bake more functionality into the plugin when switching envs can be easily setup there. Another idea is when running your test script you can setup env variables for that run only via command line

[2020-09-20 23:52] Slals commented on #38
Hi, any news on this issue?

xCode build get error `is not defined in .env` when building release, it works in debug mode. I use multi-env and tried to create a `.env` (I use `.env.production` in normal condition).

"react-native": "0.63.2",
"react-native-dotenv": "^2.4.0",

[2020-09-21 01:13] goatandsheep commented on #52
@JanithaR can you retry with 2.4.0?

[2020-09-21 01:54] lkspc commented on #74
Not quite understand, but just waiting for your docs. Thanks so much.

[2020-09-21 02:40] Slals commented on #38
I found a quick workaround, it seems xcode doesn't resolve the path from the project directory source but from `ios/`, and it is looking for a `.env` in this directory.

So just `cp .env ios/` or `cp .env.production ios/` will allow you to build.

Note that the error triggered by `react-native-dotenv` will block the building of the `main.jsbundle` file. This issue can be related to https://github.

[2020-09-21 05:46] hung-nb commented on #38
"react-native": "0.63.2",
"react-native-dotenv": "^2.4.0"

iOS - debug build is good
but iOS - release build doesn't work.

As @Slals said, "cp .env ios", then it works.

Waiting for new build for "react-native-dotenv"

Thanks @goatandsheep for this good package :)

[2020-09-21 13:48] alizahid commented on #38
I played around with the file names for a bit and here's what I found;

For iOS release, `.env` is treated as `.env.production`.
For iOS debug, `.env.development` works.

[2020-09-26 20:50] aelarassi commented on #15
Duplicate of [https://github.com/facebook/react-native/issues/29314](https://github.com/facebook/react-native/issues/29314)

Solution :  [https://github.com/facebook/react-native/issues/29314#issuecomment-656326427](https://github.com/facebook/react-native/issues/29314#issuecomment-656326427)

[2020-09-27 01:54] goatandsheep commented on #15
@aelarassi I highly recommend against the solution suggested in that comment as there are many security issues with that version

[2020-09-28 09:27] mvehar opened #75 ".env file variables are cached"
.env changes are not propagated to code.

If you update .env, new values will not be detected until you change the file that imports the variables.

[2020-09-28 12:33] xRiot commented on #15
Thank you @goatandsheep for pointing out the correct approach in https://github.com/facebook/react-native/issues/29314#issuecomment-687652155. I've updated my original comment as well.

For those unaware, please follow the [Migration Guide](https://github.com/goatandsheep/react-native-dotenv/wiki/Migration-Guide) if you're having trouble with this.

[2020-09-28 12:33] #15 closed

[2020-09-28 13:52] goatandsheep commented on #75
are you re-building between `.env` changes?

[2020-09-28 13:52] goatandsheep commented on #70
duplicates #74

[2020-09-28 13:52] #70 closed

[2020-09-28 13:56] goatandsheep commented on #73
duplicated by #74

[2020-09-28 13:56] #73 closed

[2020-09-28 13:58] mvehar commented on #75
I'm using react-native run-ios, which reloads the code. Could be that babel modules are not reloaded until some code ts/js code changes.

[2020-09-28 14:34] goatandsheep commented on #75
yeah unfortunately, you'll have to fully restart the script every time you change your `.env` file

[2020-09-28 17:08] proIT324 commented on #75
I run `react-native run-ios` whenever I modify `.env` file. However, old environment variables are cached and leveraged again. What should I do to reset them?

[2020-09-28 18:15] goatandsheep commented on #75
Oh! I think I know what's wrong. This is [one of the caveats about this package](https://github.com/goatandsheep/react-native-dotenv#caveats). For now, try this and let me know if that fixes it:

[code]

I also want to see if we can observe changes and clear the cache going forward like in this other babel plugin https://github.com/codemix/babel-plugin-closure-elimination/blob/master/src/index.js

[2020-09-28 18:17] proIT324 commented on #75
@goatandsheep Thank you! It eventually resolved the issue. Could you update the package?

[2020-09-28 18:18] goatandsheep commented on #75
It will take time for me to figure it out. I'll update the security dependencies, but this feature will have to wait until next month unless someone can help me.

[2020-09-29 04:15] SebinLee commented on #75
I have same problem, but It cannot solve my problem
I also cleared watchman, metro module cache, but nothing changes.
Both on android, iOS environment

[2020-09-29 13:47] developerantoniosousa commented on #59
That's it @marcorivm.

I solved my problem using this solution, with Babel.

[2020-09-29 14:23] #59 closed

[2020-09-29 20:21] goatandsheep opened #76 ".env.local option"
Add `.env.local` support

[2020-09-30 18:58] champ8644 opened #78 "The package at "node_modules\react-native-dotenv\index.js" attempted to import the Node standard library module "fs". It failed because the native React runtime does not include the Node standard library."
I was using expo with react-native-dotenv
with
[code]
and babel.config.js
[code]

I have use only this in my file
[code]

So after I read your suggestion of migrating to 2.x.x I tried your solution and still I can't seem to build an expo apps at all,
This is the error I got:
[code]

I have tried everything and it doesn't seem to work. please help!
your sincere,
Charisu

[2020-10-01 03:03] JanithaR commented on #52
@goatandsheep Seems to be the same. https://github.com/JanithaR/image-finder/blob/react-native-dotenv-update/package.json#L19

[2020-10-01 03:05] goatandsheep commented on #52
Thank you for checking.

[2020-10-01 03:38] champ8644 commented on #78
edit: I fixed this issue by add this to my babel.config.js
[code]
Closing this ._.
Thanks,
Charisu

[2020-10-01 03:38] #78 closed

[2020-10-01 14:52] mvehar commented on #75
Maybe a temp solution for updating package.json scripts:

[2020-10-01 18:40] goatandsheep commented on #47
It's healthy to have many contributors for npm packages in case something happens to one. If you'd like to be a contributor let me know. For the state of the package, the best help would be to create a test snack app (issue #30).

[2020-10-05 13:07] goatandsheep commented on #62
I think this can be based on the whitelist array

[2020-10-05 15:10] goatandsheep commented on #74
@lkspc I've expanded on the docs. Let me know if that helps

[2020-10-06 14:47] TJTorola commented on #75
Repost from https://github.com/zetachang/react-native-dotenv/issues/70, after a lot of digging, I think this https://github.com/babel/babel/issues/8497 is really what react-native-dotenv needs to get this fixed. Seeing as there is currently no way to tell babel that the .env file is a dependency requiring a new build react-native-dotenv cannot possibly get it to rebuild when the env file changes.

[2020-10-06 14:54] TJTorola commented on #75
Looks like https://github.com/babel/babel/pull/11741 might provide a proper solution here also?

[2020-10-08 12:20] bhailot commented on #75
when I ran "rm -rf node_modules/.cache/babel-loader/*", got module not found error. I do not see .cache folder inside node_modules

[2020-10-10 17:54] rhoberman commented on #38
+1 for @Slals workaround. Same setup as @hung-nb.

[2020-10-11 00:56] iagows commented on #47
I want to help :)

[2020-10-14 16:51] arys777 commented on #74
Hello @goatandsheep, It is still not clear to me how to use it. What exactly I need to do with Babel? I've created two files `.env.development` and `.env.production`. When I start my application with `react-native start` it is loading variables from `.env.development`, so how to load them from `.env.production`?

and also link above is broken

[2020-10-14 19:04] goatandsheep commented on #74
@arys777 sorry about the link. [this is the link](https://babeljs.io/docs/en/options#envname).

Regarding which environment you choose, this is from your [CLI commands](https://github.com/react-native-community/cli/blob/master/docs/commands.md#start). By default, the CLI commands have `NODE_ENV=development` so to use `production` variables, it's a bit of specification.

* `react-native run-android

[2020-10-15 04:11] arys777 commented on #74
Now I see, thanks so much for the help!

[2020-10-15 04:32] lkspc commented on #74
@goatandsheep
I'm so sorry I didn't get back to you in time.
Now I know that env comes from **CLI Command Variables**，but how to make multi env work in XCode outside of `react-native` commands?
I have no idea to inject **CLI Command Variables** such as `NODE_ENV=production` to XCode to build the app.

[2020-10-15 04:59] goatandsheep commented on #74
Well the CLI is really an easy way to setup the XCode configuration. Remember that in XCode

* `Configuration=Release` => `NODE_ENV=production
* `Configuration=Debug` (default) => `NODE_ENV=development`

Read more about how to set that here: https://shockoe.com/ideas/development/how-to-setup-configurations-and-schemes-in-xcode/

[2020-10-15 05:25] lkspc commented on #74
Could I have a `test` or `staging` or any other env in XCode？

[2020-10-15 05:36] lkspc commented on #74
It seems that I have found the solution in the above article, thank you very much for your help!

[2020-10-15 15:37] goatandsheep commented on #74
I've updated the docs https://github.com/goatandsheep/react-native-dotenv/wiki/Multi-env-troubleshooting

[2020-10-15 15:37] #74 closed

[2020-10-15 15:46] goatandsheep commented on #30
let's keep it open

[2020-10-16 19:35] #47 closed

[2020-10-16 20:10] goatandsheep commented on #52
@JanithaR one thing I noticed is that you have `safe: true`. I think maybe there's an issue with `safe` mode.

[2020-10-20 12:11] ahmadmahomed commented on #38
I can confirm the the same issue is present on an Android release build and _undefined_  gets generated within the release bundle.

The workaround suggested by @Slals works for an iOS release build.

[2020-10-22 10:45] Definence commented on #75
Same issue. `rm -rf node_modules/.cache/babel-loader/*` does not seem to help

[2020-10-23 20:39] alburdette619 commented on #52
I go this error after enabling Hermes for the new version of react-native-reanimated.

[2020-10-26 11:08] actuallymentor opened #91 "Incompatible with react native web"
I finally got around to migrating to `2.x` but it doesn't not work with react native web and is thus not suitable for me.

To reproduce, simply run your expo project in web.

[2020-10-26 15:18] adrach commented on #61
**I missed the part where we needed to move "module:react-native-dotenv", from the presets to the plugins section in the babel.config.js file**
this ⬆️
thanks!

[2020-11-02 15:03] kingdavidmartins commented on #75
@TJTorola https://github.com/zetachang/react-native-dotenv/issues/70#issuecomment-645559873
I have experienced this issue a couple of times.I know this doesn't solve the underlying issue with pertaining to live re loads

But when you cp or update your .env with new values before running your code push command you can pass the `--extra-bundler-option="--reset-cache"` flag

Example

[code]

after en

[2020-11-02 15:12] TJTorola commented on #75
@kingdavidmartins Yeah, that works as well. My goal with hashing the `.env` file is that it does basically that, but automatically. Though, when doing a appcenter release it's probably best to ditch the cache every single time just to be safe like you have there.

[2020-11-02 21:51] goatandsheep commented on #75
@TJTorola anything we can do to the library to automatically do this? I'm happy to accept any PRs. I really want to resolve this.

[2020-11-03 14:48] TJTorola commented on #75
@goatandsheep I'm not sure, I don't think it can be properly fixed without https://github.com/babel/babel/pull/11741 getting patched first.

[2020-11-04 17:37] GavinThomas1192 commented on #52
I am receiving the same error on a brand new native code react-native project.
"react-native": "0.63.3",

[2020-11-05 21:47] LogicAnalysis opened #96 "Package requires Node Module 'fs', which is not part of RN"
Am I missing something? The first line of code in this package is to require 'fs', which is not even part of React Native. Is this only meant to run on Node? How would it run on a physical device?

Anyways, here's the error code:

"The package at "node_modules/react-native-dotenv/index.js" attempted to import the Node standard library module "fs"."

[2020-11-09 12:45] Gerlison commented on #96
This is because you have to use `import {KEY} from "@env";` instead from "react-native-dotenv"

[2020-11-09 14:07] kalleriakronos24 commented on #96
try :

1. install package ``react-native-fs`` as native filesystem for react-native, because using fs u cannot read/doing anything with the native filesystem(?) idk, try install react-native-fs module
2. follow the installation guide in react-native-fs's github
3. lookup into the react-native-dotenv's index.js rename ``const { readFileSync } = require('fs')`` to ``const { readFile } = require('rea

[2020-11-09 14:13] kalleriakronos24 commented on #52
this fixed my issue, and i'm able to use this package properly now

[2020-11-09 14:17] kalleriakronos24 commented on #96
oh, as this guy comment https://github.com/goatandsheep/react-native-dotenv/issues/52#issuecomment-672863548

i was put this configuration in .babelrc ```
{
    "plugins": [
      ["module:react-native-dotenv", {
        "moduleName": "@env",
        "path": ".env",
        "blacklist": null,
        "whitelist": null,
        "safe": false,
        "allowUndefined": true
      }]
    ]
  }```

af

[2020-11-11 20:26] sabirahmed121 commented on #52
I'm still facing this issue with version 2.4.2
Have also added the plugin in babel.config.js.

Anybody having any luck resolving this.
Note I'm not using TS

[2020-11-12 05:11] faizrktm commented on #96
no need to have extra configuration, just `import {KEY} from '@env';` and you good to go :D

[2020-11-12 17:12] kalleriakronos24 commented on #96
actually, really ? i mean i tried to only "just ``import {key} from '@env' `` and this line added in .babel-config ```"plugins": [
    ["module:react-native-dotenv", {
      "moduleName": "@env",
      "path": ".env",
      "blacklist": null,
      "whitelist": null,
      "safe": true,
      "allowUndefined": true
    }]
  ]
[code]

[2020-11-13 10:18] cengit commented on #32
I had same issue after upgrade react-native-dotenv.
solution: make sure all import { xxx } from 'react-native-dotenv'; change to import { xxx } from '**@env'**;

[2020-11-13 12:24] goatandsheep commented on #96
Check out the comments in the duplicate ticket #78

[2020-11-13 12:25] goatandsheep commented on #91
Thank you! What errors are you seeing I'm the console?

[2020-11-13 12:32] goatandsheep commented on #52
@sabirahmed121 try checking the #38 thread for non typescript issue

[2020-11-13 13:01] sabirahmed121 commented on #52
Was able to resolve this. So realised that my rebuild was not happening successfully even after the clearing commands.
The only way the rebuild was successful was when I made some edit to the code.

[2020-11-13 15:24] goatandsheep commented on #30
test app coming soon!

[2020-11-16 13:54] perroudsky commented on #75
for expo users,
`expo r -c`
did the job !

[2020-11-17 16:18] davidprovan commented on #38
We fixed this issue our our build by referencing this:

https://github.com/facebook/react-native/issues/29351#issuecomment-657929014

Hopefully helps someone else stumbles onto this thread.  H/T to Matt Burnett on our team for finding it.

[2020-11-17 16:42] actuallymentor commented on #91
Tried to reproduce just now but it works. Closing :)

[2020-11-17 16:42] #91 closed

[2020-11-17 16:51] mburnet6-ibm commented on #52
For others that encounter this issue, even in TS projects #38 can happen and we finally solved it with this solution: https://github.com/facebook/react-native/issues/29351#issuecomment-657929014

[2020-11-18 15:13] goatandsheep commented on #96
@LogicAnalysis congratulations and thank you for your first ticket ever on Github! This issue has come up numerous times so I've added the solution to the [troubleshooting page](https://github.com/goatandsheep/react-native-dotenv/wiki/Additional-Troubleshooting). If there are any other issues please feel free to open a new ticket.

[2020-11-18 15:13] #96 closed

[2020-11-20 08:58] hatemalimam commented on #75
this should help
`yarn start --reset-cache`

[2020-11-20 21:23] eridr commented on #38
In my case it was all about giving xcode full access to the hard drive.
Select System Preferences->Security & Privacy->Full Disk Access
then + and add xcode

[2020-11-29 00:52] goatandsheep commented on #76
I think let's keep this open

[2020-12-02 07:15] chiawei0311 commented on #52
same to me, and need to build again.

[2020-12-11 15:58] goatandsheep commented on #62
I think we can keep this open

[2020-12-17 23:44] bfricka commented on #76
Any chance you want some help on this one?

[2020-12-17 23:45] goatandsheep commented on #76
I'm happy to take any help I can get.

[2020-12-20 11:32] jack828 commented on #38
Has anyone tried setting BABEL_ENV before building? I was experiencing this for android release builds:
`BABEL_ENV=production ./gradlew assembleRelease`

I added some logging to this package and found that first time it is run BABEL_ENV is correctly set, then it is set to `"undefined"` and tries to load `.env.undefined` instead of the correct mode.

[code]

[2020-12-20 14:14] goatandsheep commented on #38
@jack828 I've never seen that one but we surely can prevent it.

[2020-12-24 11:15] FrancisLeigh commented on #74
Can anyone point me in the right direction for getting the `.env.test` to work? I've created a `Test` Scheme and a `Test` build configuration but it only seems to be taking the `.env.development` config file.

[2020-12-24 13:01] FrancisLeigh commented on #74
@lkspc did you manage to successfully have a `.env.staging` Scheme and Build configuration?

[2020-12-24 14:49] goatandsheep commented on #74
@FrancisLeigh you won't be able to set the node env environment variable in that way. You'll have to do you through your cli command. Check the troubleshooting guide https://github.com/goatandsheep/react-native-dotenv/wiki/Multi-env-troubleshooting

[2020-12-29 10:11] FrancisLeigh commented on #74
@goatandsheep Thanks for your reply.

Forgive me but I'm looking at your link which I have previously looked at and am still struggling to get the `env.test` to work...
At the moment I'm setting this in my scripts.

[code]
Am I completely missing the mark here? It would be great to have an example of setting up a .env.test or if anyone has managed to successfully setup a `.env.staging` that would

[2020-12-29 16:27] goatandsheep commented on #74
@FrancisLeigh I am thinking about this. I think you're right that within XCode it is not properly acknowledging `.env.test`. I was thinking about if this was related to the config file, but ultimately, I don't know how if that fully solves the problem. I've been thinking about if PR #97 is viable. Let's continue the discussion there.

[2020-12-30 16:15] pedromcunha commented on #74
So after digging into how xcode is building the js code I think I understand it enough to get it working. If you go to the xcode project and open up the "Build Phases" tab, then find the "Bundle React Native code and images" phase. In there you'll see it's executing the react-native-xcode shell script. This script runs the bundle command to bundle the js code. The only way I got it to work was by

[2020-12-30 19:21] goatandsheep commented on #74
I'm happy it's working for you but I'd like to leave a disclaimer to anyone reading that this is an undocumented usage of babel env to use a non standard babel env such as "staging". It could be removed over time and is probably defaulting to development type rules which could be ok. There are 3 standard babel env versions: development, production, and test. https://babeljs.io/docs/en/config-files

[2020-12-30 20:28] pedromcunha commented on #74
I see, didn't realize that those were the only supported babel environments. To use the "test-" environments would I need to change my .env file to be ".env.test-staging" ?

[2020-12-30 20:30] goatandsheep commented on #74
@pedromcunha to be honest, I don't know but that is my best guess! Let me know how it goes.

[2021-01-06 18:37] Kailash23 commented on #52
Close all the windows and restart the laptop.

[2021-01-09 04:46] kakaru1331 commented on #52
in my case, @ajaxjiang96's solution works well.
thank you. :)

[2021-01-09 23:36] PrincewillIroka commented on #52
After updating your babel.config.js file ensure to reset your cache with `yarn start --reset-cache` for changes to take place.

[2021-01-12 14:56] f4z3k4s commented on #52
For me, the solution was to properly clear the cache. Note that I am using npm not yarn. In my case it took:

`npm cache clean --force`
`npm start -- --reset-cache` which in my setup (standard Expo setup) is equivalent to `react-native start "--reset-cache"`

[2021-01-12 16:38] lcnogueira commented on #15
If anyone here is facing any problem, regardless of following the Migration Guide, take a look at @JoaRiski comment above https://github.com/goatandsheep/react-native-dotenv/issues/15#issuecomment-660951831. Basically, if you set up the plugins correctly but keep the module inside the babel `preset` property, it throws an error.

[2021-01-12 21:00] goatandsheep commented on #30
project was cancelled but ticket should stay open

[2021-01-19 22:58] FanchenBao commented on #62
I use the same concept to set up a stub `react-native-dotenv_v2.5.0.js` for use in `flow` typing:

[code]
I use [`flow-typed`](https://github.com/flow-typed/flow-typed) to handle packages without official `flow` support. The `react-native-dotenv_v2.5.0.js` file is stored in the `flow-typed` directory.

[2021-01-20 06:21] FanchenBao commented on #56
I am having the same issue. Running `react-native run-android --variant release` does not pick up `.env.production`. It still loads `.env`. I am able to work around this problem by changing the path to `.env.production`, but that doesn't feel like a robust fix.

The same issue cannot be repeated in iOS, because for whatever reason, I need to manually bundle in iOS. And the `react-native bundle` co

[2021-01-20 11:34] leonardonelson91 commented on #59
@goatandsheep Is there a way to programatically set the environment variables for dotenv in jest?

I'm trying to do something like:

`jest.mock('react-native-dotenv', () => ({
  VARIABLE1: 'value',
  VARIABLE2: 'value2',
}));`

Different tests might have different values for the same environment variables. If I have only a single source I can't have this flexibility.

[2021-01-20 11:42] leonardonelson91 commented on #59
@goatandsheep I tried [this](https://github.com/goatandsheep/react-native-dotenv/issues/59#issuecomment-685055901) but that did not work for me.

[2021-01-20 12:04] goatandsheep commented on #59
@leonardonelson91 yes there's a new experimental feature with 2.5.0 that adds APP_ENV . Look at #97

[2021-01-20 13:08] goatandsheep commented on #59
Some people are saying to follow the Android signing guide https://reactnative.dev/docs/signed-apk-android#adding-signing-config-to-your-apps-gradle-config

[2021-01-20 13:51] goatandsheep commented on #56
Some people are saying to follow the Android signing guide https://reactnative.dev/docs/signed-apk-android#adding-signing-config-to-your-apps-gradle-config

[2021-01-20 13:52] goatandsheep commented on #38
Some people are saying to follow the Android signing guide before building to prod https://reactnative.dev/docs/signed-apk-android#adding-signing-config-to-your-apps-gradle-config

[2021-01-20 15:09] FanchenBao commented on #56
Thanks for the response. I have signing set up already, but still not working. I keep getting this error message:

[code]
I think it is because `.env.production` is not loaded, so the system looks in `.env` for `BACKEND_API_ENDPOINT`. But `BACKEND_API_ENDPOINT` is not defined in `.env`; it is only defined in `.env.production`.

I have also tried to define `BACKEND_API_ENDPOINT` in `.env` and give

[2021-01-20 15:43] goatandsheep commented on #56
Do you think you can try adding the variable to `.env` just to troubleshoot? Maybe it's not loading properly at all!

[2021-01-26 14:55] goatandsheep commented on #38
@jack828 i reread your comment. And it absolutely by design uses the BABEL_ENV name that you want. I recommend you read the readme and Wiki

[2021-01-26 15:22] jack828 commented on #38
@goatandsheep Sure. I did read both in trying to fix this issue.

I also lost a lot of time trying to fix this for iOS builds and ended up having to add `BABEL_ENV=production` to all of my build commands and in the xcode build script.

I don't mean to be rude but it's not exactly helpful when I (and many others) have followed the wiki and migration guides and are still experiencing this issue - I'

[2021-01-26 15:26] goatandsheep commented on #38
sure! I'll add an undefined check. If you have an idea, you're welcome to make a pull request.

[2021-01-26 15:29] jack828 commented on #38
@goatandsheep Thanks, I appreciate that!

Just to be clear, it is not strictly undefined, but a string `"undefined"` - if I have time this week and get to it before you do I will see what I can do!

[2021-01-26 15:48] goatandsheep commented on #38
@jack828 no worries. fix is in and published!

[2021-02-01 06:18] whalemare opened #113 "Default import is not supported"
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**
I was trying export all config keys as default, but have the next error:
[code]

**To Reproduce**
Code to reproduce the behavior:
[code]
**Expected behavior**
Expected that I can export all keys in one single const variable, to use it anywhere I want.

[2021-02-01 07:03] goatandsheep commented on #113
Hi @whalemare unfortunately this is not something that is even potentially possible. Even the regular `dotenv` module does not work in this way. It has always been something you need to whitelist one variable at a time from `process.env`. if you really want, create an object and whitelist the attributes you put into it.

Are you trying to do error handling for this module? Maybe there's a misunder

[2021-02-01 07:06] whalemare commented on #113
Hi. Thank you for quick answer.
Yes, maybe error handling is unnecessary here.

[2021-02-01 15:10] goatandsheep commented on #113
@whalemare lmk if you need any more help or if I can close this

[2021-02-02 01:17] ivanichi commented on #38
i'm having the same problem on release android, env undefined, any news on this issue ?

react native 0.63.3
dotenv 2.5.0

[2021-02-02 01:24] backlands commented on #38
As noted the 2.5.1 release should help you @ivanichi

[2021-02-02 05:43] whalemare commented on #113
We can close it, thank you

[2021-02-02 05:43] #113 closed

[2021-02-02 12:51] ivanichi commented on #38
thank you. it works

[2021-02-05 22:56] goatandsheep commented on #62
I also realized the following repo is messed up:

https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-native-dotenv

https://www.npmjs.com/package/@types/react-native-dotenv

[2021-02-07 18:27] ericbaobao commented on #62
I don't want to open a new issue so I will just ask in here seem it's relevant
so first I added it to tsconfig
![800](https://user-images.githubusercontent.com/78641493/107155713-e3b12800-69b4-11eb-8a42-f6ecb78afb2e.png)
Then under src, I added folder and named like this
![cuck](https://user-images.githubusercontent.com/78641493/107155741-0e9b7c00-69b5-11eb-93a7-040fe921ac61.png)
But then it didn'

[2021-02-07 19:37] goatandsheep commented on #62
@ericbaobao no problem! Try moving the `typeRoots` out of the `paths` object and let me know
https://www.typescriptlang.org/tsconfig#typeRoots

[2021-02-07 20:19] ericbaobao commented on #62
I tried hard search youtube video for configuration steps of typescript but I found none.
or it could be my mistake missing some steps, here is what I did:
1. yarn add -D react-native-dotenv
2. Do I need to add .env if I use typescript?
3. I don't have .babelrc so what I did is I add to **_babel.config.js_** "module:react-native-dotenv"
![one](https://user-images.githubusercontent.com/78641493/107

[2021-02-07 21:25] goatandsheep commented on #62
@ericbaobao no problem. Keep your environment-specific variables in the `.env` file.

For now, the wiki and readme are this guide. I may or may not be working on a new one 😉

[2021-02-07 22:19] ericbaobao commented on #62
after adding the .env it is working now that you so much.
I wanted to ask you one last thing, is it correct if I write like this: "typeRoots": ["./node_modules/@env"],
if my steps in correct I can help you update the readme of your github if you want. Like the screenshot I posted here

[2021-02-07 23:05] goatandsheep commented on #62
No that is not correct since `node_modules/@env` is generated by babel, unless the types were dynamically generated. Feel free to open a PR!

Your question gives me an idea for this ticket though. I mean when we get the feature completed to auto-generate the definitions file, we should definitely recommend that TS users use `node_modules/@env` for the types.

[2021-02-07 23:49] ericbaobao commented on #62
I didn't see babel generate anything in `node_modules/@env` . Not sure if it's a bug.
Just now I use the same steps to try in second project. In this one, the GUI is located inside src folder. It failed somehow, this is the warning it gave:
![alpha](https://user-images.githubusercontent.com/78641493/107163013-073e9780-69e2-11eb-92c3-dcab12925266.png)

Even I manually created a `@env` folder in nod

[2021-02-08 02:48] goatandsheep commented on #62
You should probably just put your typedef for `@env`, i.e. your constants, in `src/types`

[2021-02-10 02:27] Esxiel opened #115 "Question: Multi-env and caching"
First of all, thanks for the library, the multi-env feature it provides makes it much better.

I have a question about the multi-env and the caching...
I understand that the .env.production / .env.development (defined environment variables) overwrite the general .env

as stated in the readme... but does this work without resetting one's cache?

e.g. I have a .env and a .env.production. I `yarn sta

[2021-02-10 03:12] goatandsheep commented on #115
What happens if you do `yarn start --reset-cache`?

[2021-02-10 03:13] goatandsheep commented on #62
actually I thought of the easiest way for this to work. Instead of using `@env`, use `react-native-dotenv`, then change `moduleName` in `babel` config to `react-native-dotenv`.

[2021-02-10 03:49] #76 closed

[2021-02-14 15:12] ph98 opened #120 "using with ESlint"
Hi
When i use this line
`import { GOOGLE_WEBCLIENTID } from '@env';`

I'll face this error from ESlint:
`Unable to resolve path to module '@env'.eslintimport/no-unresolved`
of course I can use disable for this line eslint. but isn't there a better way?
thanks.

[2021-02-14 17:41] goatandsheep commented on #120
I'll take a proper look later this week but for now try to either add `@env` as a constant in your babel config or change `@env` to `react-native-dotenv` as your `moduleName` in your babel and then also in the import line.

[2021-02-17 04:14] jilvanx commented on #52
I have this same issue and I'm not using TS.
Can someone help me?

[2021-02-17 04:16] jilvanx commented on #52
I have this same issue. I'm not using TS.
Can someone help me?

[2021-02-17 04:32] goatandsheep commented on #52
* do you have a file named `.env`?
* Are you on the latest version?

If you answered yes to both of these, the easiest thing to do today is just change `moduleName` to `react-native-dotenv` and also in your file before we can continue to figure it out

[2021-02-17 12:21] jilvanx commented on #52
I have .env file
version: "react-native-dotenv": "^2.5.3"

Do I change my babel file to look like this?

[code]

[2021-02-17 13:21] goatandsheep commented on #52
Try it but then also change `@env` to `react-native-dotenv`. Basically you can rename your module whatever you want. I have a feeling this may reduce issues

[2021-02-17 13:37] jilvanx commented on #52
My js file
`import { PUBLIC_KEY } from 'react-native-dotenv';`

My babel file
[code]
It's works for me :)

[2021-02-18 11:09] Luckygirlllll opened #121 "What is white list and blacklist?"
Does it mean that if env file is submitted to the repository, variables which is in the blacklist wouldn''t be added to git?
Or this blacklist and whitelist do something else?

[2021-02-18 14:36] goatandsheep commented on #121
@Luckygirlllll that's actually it 😊 blacklist will make sure certain environment variables are not included nor will overwrite environment variables somehow imported in other ways

[2021-02-19 00:45] Esxiel commented on #115
Huh, I tried it again today and it seems like it's not even reading my .env.production even after I `yarn start --reset-cache` , but I swear it worked at least once before...

[2021-02-19 00:52] Esxiel commented on #115
Am I misunderstanding the priority?
Like is it actually
(Release) .env > .env.production
(Debug) .env > .env.development

rather than
(Release) .env.production
(Debug) .env.development

[2021-02-19 01:18] goatandsheep commented on #115
In general you shouldn't need `APP_ENV` but  it's there in case you need it. By default the library uses your babel environment which as you said release / production , debug / development.

I think you meant
.env < .env.development
And
.env < .env.production

However if the babel env is not reporting properly, it will default to .env.development. If you can't figure out why your production enviro

[2021-02-19 09:32] f4z3k4s commented on #52
When above comments do not solve the error and you've reset every cache: try to reset the file cache of Chrome. I just happened to notice that the error only occured in debug mode, because the files that I was requiring the env variables in were cached. So this might help:

1. On your computer, open Chrome.
2. At the top right, click More More.
3. Click More tools and then Clear browsing data.
4.

[2021-02-19 10:05] github-actions[bot] opened #123 "Dependabot PR Bump @babel/core from 7.12.13 to 7.12.17 opened"
Dependabot has opened PR #122
Link: https://api.github.com/repos/goatandsheep/react-native-dotenv/pulls/122

[2021-02-19 16:11] goatandsheep commented on #30
After reaching out to snack support team, I've confirmed they don't do babel plugin tests, i.e. they won't let me create a snack that is meant to test `devDependencies`

[2021-02-19 21:59] goatandsheep opened #124 "dotenv defaults"
This module is missing dotenv defaults from dotenv flow: https://www.npmjs.com/package/dotenv-defaults

Is this needed 👍🏽 / 👎🏽

[2021-02-20 08:34] junqdu commented on #120
This worked for me, @goatandsheep thanks!

[2021-02-21 07:45] zhahaoyu commented on #38
I am still having the issue for ios
"react-native": "0.63.2"
"react-native-dotenv": "^2.5.3"

[2021-02-21 08:05] zhahaoyu commented on #38
If I move `.env` and `.env.production` to ios folder, then the problem is solved.

[2021-02-22 10:05] github-actions[bot] opened #126 "Dependabot PR Bump xo from 0.37.1 to 0.38.1 opened"
Dependabot has opened PR #125
Link: https://api.github.com/repos/goatandsheep/react-native-dotenv/pulls/125

[2021-02-22 15:39] ivanichi commented on #38
today i have issue, react native 0.63.3, dotenv 2.5.3,
I have ENVFILE=.env.xxx everything is working, assembleDebug, assembleRelease. ( it works )
and then bundleRelease. Testing the release build :
`$ react-native run-android --variant=release` ( fails to pick up env.xxx )
any suggestions or updates for this ?

[2021-02-22 19:08] goatandsheep commented on #38
Hi @ivanichi this library is not checking for `ENVFILE` to my knowledge. Also `release` should be `<path from babel config>.production`. Multi-env is inspired by [dotenv-flow](https://www.npmjs.com/package/dotenv-flow). You can also book me to take a look at your project to make some suggestions https://issuehunt.io/r/goatandsheep/react-native-dotenv/issues/38

I'd also recommend if there are miss

[2021-02-22 19:18] zhahaoyu commented on #38
@goatandsheep will there be a fix so we don't need to copy the .env files to the ios folder?

[2021-02-22 20:03] goatandsheep commented on #38
Hm...do you think this is a simple path fix? I'm not having this issue on my end, so I will not release until fully tested, but can you test the following branch?

[code]

[2021-02-23 09:37] ivanichi commented on #38
@goatandsheep thank you for your suggestions and reply, I will try to explore, if successful i will come back, if on my case doesn't work I'll be happy to contact via the link above

[2021-02-23 10:05] github-actions[bot] opened #128 "Dependabot PR Bump @babel/core from 7.12.13 to 7.13.1 opened"
Dependabot has opened PR #127
Link: https://api.github.com/repos/goatandsheep/react-native-dotenv/pulls/127

[2021-02-23 16:42] ivanichi commented on #38
now `react-native run-android --variant=release` success to pick up env.xxx
I experimented until felt like a mummy, thank you this library is very useful
for my case i changed : `process.env.BABEL_ENV `to `process.env.ENVFILE`

`yarn start --reset-cache`
`cd android && ./gradlew clean`
`wipe data avd emulator`
`restart the computer`

and build again, the problem has been resolved

react native 0.6

[2021-02-23 16:54] goatandsheep commented on #38
I'm happy it works for you! Please leave a tip if possible https://issuehunt.io/r/goatandsheep/react-native-dotenv/issues/38

I wish cache cleaning were easier. Maybe this? https://www.npmjs.com/package/react-native-clean-project

[2021-02-23 16:56] #128 closed

[2021-02-23 16:56] #123 closed

[2021-02-23 17:14] ivanichi commented on #38
of course with pleasure. I want to send a donation via paypal. please give me your paypal email, thank you.

[2021-02-23 17:16] goatandsheep commented on #38
https://paypal.me/kemalahmedmac

[2021-03-01 22:22] Hongbo-Miao commented on #62
`import { API_URL } from '@env';` works for me.

If I change to `import { API_URL } from 'react-native-dotenv';`, I got error

[2021-03-02 01:13] goatandsheep commented on #62
@Hongbo-Miao interesting using the `api.cache(true)`. I'm glad it's working. I'm going to start recommending people use https://www.npmjs.com/package/react-native-clean-project to clear the project on next Readme release

[2021-03-02 13:40] unit-002 commented on #120
same here when importing google web client ID I also get

`unable to resolve module `fs` from `node_modules\\react-native-dotenv\index.js: `fs` could not be found within the project`

but if I import other key it works fine. I am only having this issue with google web client ID.

[2021-03-02 13:55] goatandsheep commented on #120
@unit-002 is your key in the .env file? Also do not install the library as a dependency only Dev dependency. You may also want to check your babel config in the troubleshooting guide in the wiki

[2021-03-02 14:37] unit-002 commented on #120
yes all are in the .env file

[2021-03-02 15:13] goatandsheep commented on #120
Huh! I'll add a test. I did a quick search and found this example ID in the docs: `1234567890-abc123def456.apps.googleusercontent.com
`

[2021-03-02 15:22] unit-002 commented on #120
yes that is how google id looks like

[2021-03-02 20:25] goatandsheep commented on #120
sorry that isn't it. tests passed despite the longer Google ID. There may be a caching issue? or an issue with how you've configured the .env file. take a look to see how cache clearing is done

[2021-03-03 12:50] unit-002 commented on #120
hmm, I already yarn cache clean, yarn start --reset-cache, npm cache clean --force, rebuild my app, but still same error. Don't know why, but my onesignal setAppID and channel ID is importing I also don't know why.

[2021-03-03 13:56] goatandsheep commented on #120
So the cache issue is showing up in every other issue. If this comes up again can you try this and let me know? https://www.npmjs.com/package/react-native-clean-project

[2021-03-03 19:04] siemya opened #131 "APP_ENV doesn't work as expected"
I want to be able to use `development` and `production` config files according to the APP_ENV variable I pass.

But even if I pass the env as a variable, it uses `development` for debug and `production` for release.

[code]

[2021-03-04 02:40] unit-002 commented on #120
Sure, thanks

[2021-03-05 19:09] GGrassiant commented on #52
Did what @jilvanx suggested and it worked perfectly. Thanks for the solution!
Since I am using typescript I just had to add an `env.d.ts` file with `declare module 'react-native-dotenv';`

[2021-03-05 19:20] goatandsheep commented on #52
Awesome! There's also a definitely typed package for this repo that I haven't put anywhere in the docs https://www.npmjs.com/package/@types/react-native-dotenv

[2021-03-05 19:27] GGrassiant commented on #52
Awesome! Thanks @goatandsheep

[2021-03-16 04:00] isonlaxman opened #134 "How to mix .env variables with process.env variables?"
This might be a dumb question, but I'm not sure how to best approach this problem.

So far, I've just built the app locally while we were in development. Now that we've released our React Native app to iOs AppStore, I want to use cloud build to avoid silly errors. Specifically, I'm using AppCenter by Microsoft.

I don't want to push my .env file to the repo even if it's private, so I want to use e

[2021-03-17 06:24] shahanija opened #135 "Switch between entire files setting environment"
Hi,
This is not a bug report. I am using different `googel-services.json` file for development and production environment on the same project. How can I switch between then while setting the environment?

[2021-03-17 11:41] goatandsheep commented on #135
Do you have to keep it in a JSON file? Can you put it in a `.env` file?

[2021-03-17 17:08] OKNoah opened #136 "Can't resolve fs module when using with server-side rendering and defaults"
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**
Next gives me the error that it can't resolve the modules `fs` when I use a `moduleName` other than `react-native-dotenv`. I tried fixing another bug by using the defaults (`@env`), but that seemed to produced this problem. This may be unique to `next@9` or whatever webpack it uses.

For the curious, I _se

[2021-03-17 17:38] OKNoah commented on #136
This is in dev mode, which I should have emphasized more. Perhaps one solution would be to somehow mix solutions, but thought it was interesting how the moduleName made a difference.

[2021-03-17 17:45] goatandsheep commented on #136
Oh I know now what happened!! If you change `moduleName` to `babaganoush`, you need to change your inputs too like so:

`import { ENV_VAR } from 'babaganoush'`

[2021-03-17 17:47] OKNoah commented on #136
@goatandsheep yep, did that. I was able to find and replace `@env` after to successfully undo the change, so that suggests I didn't miss anything.

[2021-03-17 18:04] goatandsheep commented on #136
Well, thanks so much for the submission!

I'm going to leave this open because this is valid. I might just recommend people set their moduleName to `react-native-dotenv` for nextjs. I think this is an edge case that would take more effort than it's probably worth to fix.

If you have suggestions, feel free to comment below or open a PR.

[2021-03-17 18:06] goatandsheep opened #137 "Issue template suggest discussions"
Let's recommend help questions be moved to discussions from issues

[2021-03-17 18:10] goatandsheep commented on #134
Thanks for the question. Set the variables in app center as such: https://docs.microsoft.com/en-us/appcenter/build/custom/variables/

Make sure to add your `.env` files to gitignore!

[2021-03-17 18:12] goatandsheep commented on #131
I wonder if this is a caching issue. Try this for now https://www.npmjs.com/package/react-native-clean-project

[2021-03-17 18:15] OKNoah commented on #136
Good idea.

[2021-03-18 21:26] BernardKintzing commented on #52
I have the same issue, when I rename from `@env` to `react-native-dotenv` the error is replaced with `Error: Unable to resolve module `fs` from `node_modules/react-native-dotenv/index.js`: fs could not be found within the project.` When I look for solutions to this error they say to replace `react-native-dotenv` with `@env` #20 #32

[2021-03-18 21:38] siemya commented on #131
@goatandsheep unfortunately no change

[2021-03-19 17:39] BernardKintzing commented on #52
if your `babel.config.js` has the line `api.cache(true)` try rerunning and changing the line to `api.cache(false)`. If this works you can go back to `api.cache(true)` and change it when you update the file.

[2021-03-29 01:44] mirandamon commented on #52
👋 Hi there - I'm having a similar issue as well in my typescript project. When I added the `env.d.ts` file, with these contents:
[code]
I no longer have any TypeScript errors. But when I try to build my app using `react-native bundle --reset-cache --entry-file='index.js' --bundle-output='./ios/TestApp/main.jsbundle' --dev false --platform ios`, I get this error:

[code]

I've tried clearing watchm

[2021-03-29 02:15] #56 closed

[2021-03-30 16:52] gabrieljoelc commented on #38
@ivanichi

we've had the issue of needing to restart the computer when changing values in the `.env`.

does anyone know why you have to restart the computer?

[2021-03-30 16:55] goatandsheep commented on #38
It's a caching issue. I'll be doing a bit of maintenance tomorrow 😊

[2021-04-01 16:08] ivanichi commented on #38
@gabrieljoelc  yes, it should be clean. and you need a cup of coffee for a bit. so need a restart.
if you can't to pick up .env after restart. try for run : `export BABEL_ENV = .yourenv`

[2021-04-01 16:48] gabrieljoelc commented on #38
@ivanichi thanks.

Yes the restarts have consistently worked but it's pretty painful when switching between environments for test and prod builds

[2021-04-03 19:01] alizahid commented on #38
I'm able to get this working reliably by having two `env` files; `.env.development` and `.env.production` as specified in the docs and not having `.env` at all.

[2021-04-05 18:55] allanzi commented on #20
@twom Worked for me 😄

Example:

`import { API_HOST } from '@env'`

[2021-04-06 13:57] MaganAnkur opened #141 "@env could not be found within the project"
![simulator_screenshot_2F90FE7A-53E9-4E64-9B08-92B18C920372](https://user-images.githubusercontent.com/42070594/113722416-66591980-96be-11eb-9beb-000281c72da1.png)

.babelrc
{
    "presets": [
    "module:metro-react-native-babel-preset",
    ],
    "plugins": [
        ["module:react-native-dotenv", {
          "moduleName": "@env",
          "path": ".env",
          "blacklist": null,

[2021-04-06 19:29] #126 closed

[2021-04-06 19:32] goatandsheep commented on #131
This looks exactly like the stuff in the [multi env wiki](https://github.com/goatandsheep/react-native-dotenv/wiki/Multi-env-troubleshooting). Let me know if that helps

[2021-04-06 19:33] goatandsheep commented on #141
Just wondering. Did you clear the cache and try again?

[2021-04-06 19:37] goatandsheep commented on #135
Closing as this should be moved to discussions

[2021-04-06 19:37] #135 closed

[2021-04-06 19:40] goatandsheep commented on #121
closing as this should be moved to discussions

[2021-04-06 19:40] #121 closed

[2021-04-06 19:43] #120 closed

[2021-04-06 19:43] #136 closed

[2021-04-06 19:43] #137 closed

[2021-04-06 19:43] #30 closed

[2021-04-06 19:49] goatandsheep commented on #134
Closing this. Feel free to continue in discussions.

[2021-04-06 19:49] #134 closed

[2021-04-06 19:52] goatandsheep commented on #52
@mirandamon where is your `.env` file relative to root?

[2021-04-06 19:54] goatandsheep commented on #38
The solution is now to install https://www.npmjs.com/package/react-native-clean-project and clean using that. No more restarts.

[2021-04-06 20:04] MaganAnkur commented on #141
Thanks @goatandsheep for your response.

 I tried below:
- watchman watch-del-all
- rm -rf node_modules
- npm start --reset-cache

[2021-04-06 20:26] goatandsheep commented on #141
very strange. the only thing I can think of is [this](https://github.com/facebook/react-native/issues/29351#issuecomment-657929014)

[2021-04-06 21:08] MaganAnkur commented on #141
thanks @goatandsheep this fixes the issue, i changed presets to plugin in babel.config.

[2021-04-06 21:20] MaganAnkur commented on #141
reopening this as when I tried again after closing the bundler, it is coming again

[2021-04-06 21:53] PepeValenzuela98 commented on #141
same issue any solution :/

[2021-04-06 22:01] PepeValenzuela98 commented on #141
i changed
`import { BACKEND_URL } from 'react-native-dotenv`

for

`import { BACKEND_URL } from '@env`

and works

[2021-04-06 22:46] MaganAnkur commented on #141
@PepeValenzuela98 could you pls copy your babel.config or .babelrc here for reference

[2021-04-06 22:47] PepeValenzuela98 commented on #141
@MaganAnkur sure

[code]

[2021-04-06 22:48] MaganAnkur commented on #141
Thanks I have the same but issue still persists.

[2021-04-06 22:50] PepeValenzuela98 commented on #141
make sure your .env file is at the root of your project

[2021-04-06 22:52] MaganAnkur commented on #141
Yeah, its at root only.
![Screen Shot 2021-04-06 at 6 52 05 PM](https://user-images.githubusercontent.com/42070594/113787528-32efac80-9709-11eb-9513-b94f81356dc0.png)

[2021-04-06 22:55] PepeValenzuela98 commented on #141
I configure it in babel.config.js if you have not done it it would not hurt to try

[2021-04-08 14:40] MaganAnkur commented on #141
@PepeValenzuela98 Thanks it resolves the issue.

[2021-04-08 14:40] #141 closed

[2021-04-09 08:42] siemya commented on #131
@goatandsheep

It doesn't really help actually.

As far as I can see I can't have the flexibility as I wrote above.

[2021-04-09 11:57] goatandsheep commented on #131
One thing I can say is that gradlew is not react native so `APP_ENV` has no power there. Neither does this library. You'll have to rebuild

[2021-04-12 18:08] gabrieljoelc commented on #38
@alizahid doh! i'm on an old version that doesn't have those niceties. I'll bump in the next version of the app

@goatandsheep what's the `react-native-clean-project` command you use to clear the cache?

[2021-04-27 22:54] #115 closed

[2021-04-27 23:55] #124 closed

[2021-04-30 16:58] goatandsheep commented on #131
btw, you shouldn't need `APP_ENV` for `production` and `development` as those are built in. You're better off controlling it through the variants inside your gradlew

[2021-05-08 08:21] #62 closed

[2021-05-14 09:48] f4z3k4s commented on #131
The problem I ran into using `APP_ENV`:

As I understand `APP_ENV` should be provided to the packager, not the `run-android` command. So if I run `APP_ENV=staging npx react-native start` it uses `.env.staging` as a result.

That is all good if you have the ability to spawn a custom packager, e.g.: in debug builds. But what happens when you run a release build? If `bundleInStaging` in `app/build.gr

[2021-05-21 10:00] mvehar commented on #75
Another approach with embeding the reset unto run-* commands
Android:
`extraPackagerArgs: ["--reset-cache", ...],
`
inside app/build.gradle

IOS:
Edit scheme->Run-> add
EXTRA_PACKAGER_ARGS='--reset-cache' under ENV variables.

[2021-05-30 01:02] miwialex opened #170 "add file priority to README"
Currently the README doesn't specify the priority of which the `.env` files get loaded. Based on how other packages set priority on the files, I assumed that `.env.production` had higher priority than `.env.local`, however after not getting the expected results and looking through the source code, I see that `.env.local` is the highest priority. Perhaps this should be added to the README so that p

[2021-06-03 14:42] roeycohen opened #175 "code push behavior"
Hi,

When using code push, are .env values update as well or a full deployment is required?

10x!

[2021-06-04 12:58] mubarak90 opened #176 "error: index.js: [BABEL] C:\Users\m-s-b\newapp\index.js: .plugins is not a valid Plugin property"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/goatandsheep/react-native-dotenv/issues/176)

I have downloaded the package and when I run the app I am facing this issue, I have followed all steps in documentation.
`index.js:`

[code]
` babel.config.js:`
[code]
[code]
package.json:
[code]
[code]

[2021-06-04 15:10] #176 closed

[2021-06-10 09:10] jffr commented on #52
For me it was a caching issue. I'm using NPM instead of Yarn. Thanks to @f4z3k4s for pointing me tothe right direction:

* Use `npm cache clean --force` to clean the cache folder for your packages
* Start the project with `expo start --clear`. This will also clean the Metro bundler cache

My config:

[code]

[2021-06-11 15:45] samuelpetroline commented on #131
I'm having the same problem. When I try to build a release version with `APP_ENV=staging` the content is ignored and it always get the `.env.production` content

[2021-06-11 15:47] goatandsheep commented on #131
I figured out the issue while doing some experimentation, but I'm going to write some documentation on it this weekend

[2021-06-18 17:01] caiangums opened #182 "[Suggestion] Change from `white`/`black` to a more inclusive language (`allow`/`block`?)"
Thanks for all the work on this library and for making it robust!

### Proposal

This issue is being opened as a suggestion to move in a more inclusive terminology, removing the `white`/`black` reference and changing it to the `allow`/`block` reference (names are just a suggestion).

### Impacts and Legacy usage

Understanding legacy projects that are not being maintained and those that can schedu

[2021-06-18 21:37] #38 closed

[2021-06-19 14:34] jupitercow commented on #141
After @PepeValenzuela98 's comment above, I removed this:

`import { VIEW_URL } from "@env"`

And add this to my react module instead:

`import { VIEW_URL } from "react-native-dotenv"`

And now it is working for me...

**babel.config.js**:

[code]

[2021-06-21 14:12] caiangums commented on #131
Hey! 👋

I noticed that you are passing the `APP_ENV` variable at the `react-native run-android` command when it should be passed at the starting of the metro server(`react-native start`). It is possible to see that [in this section of the README.md](https://github.com/goatandsheep/react-native-dotenv#experimental-feature).

I suggest changing your `scripts` section in your `package.json` to someth

[2021-06-21 14:33] f4z3k4s commented on #131
@caiangums Thanks for the motivation to help. I think all of us read the documentation, and we all provided the `APP_ENV` variable to the `react-native start` command. That's essentially the source of the problem. Please re-read my above comment and check how release versions are built. Release versions on Android spawn their own packager if `bundleInYourCustomName` is set to `true` in `app/build.

[2021-06-21 18:26] caiangums commented on #131
@f4z3k4s Thanks for the clarification! I used `react-native-config` before but the approach from this library seems easier to configure 🙏

While trying to change some code at `metro.config.js` to properly pass the actual values, no success was accomplished from my side. Hope that @goatandsheep could give a better solution 😅

[2021-06-21 21:39] goatandsheep commented on #131
I need to figure out how the other library deals with caching issues

[2021-06-25 00:07] wholebuzz opened #187 "Doesn't set process.env"
This project is misleadingly named.  Consider renaming to `react-native-configfile`.

"dotenv" is specifically named for [Environment Variables](https://en.wikipedia.org/wiki/Environment_variable) accessed through `process.env`.

I need to access the variables from `.env` and `.env.local` through `process.env`, in order to share code between React and React Native.

[2021-06-25 02:11] goatandsheep commented on #187
Hi @wholebuzz I appreciate your opinion, but this library lists dotenv as a dependency and it operates using dotenv files so the name is staying!

However, I like your idea. I think it is possible to replace instances of process.env with the value object, since this is a babel plugin. I'm doing some refactoring and documentation updates this upcoming week so any help on this is appreciated and I w

[2021-06-25 07:27] hoangnguyen8895 commented on #131
I have same issue, hope to receive a solution from you soon @goatandsheep :D

[2021-06-25 15:03] goatandsheep commented on #182
that's pretty awesome actually. The only thing is- this will be a breaking change. Do you think we should do both for now? As in, duplicate functionality temporarily with the new terms and then remove the white/black terms later?

[2021-06-25 15:17] goatandsheep commented on #170
that is a great point!

[2021-06-25 15:18] goatandsheep commented on #131
If you're using `APP_ENV`, you should not use `development` nor `production` as values nor should you have a `.env.development` nor `.env.production`. This is a Babel and Node thing that I have little control over unfortunately and is consistent with many other platforms that have an override option, like [Gatsby](https://www.gatsbyjs.com/docs/how-to/local-development/environment-variables/#additi

[2021-06-25 15:22] goatandsheep commented on #175
I've never used CodePush to be honest, but likely a full deployment is required. Basically since this is a babel plugin, it recompiles the code. Environment variables do not change from hot reloads as the environment variables are loaded at the beginning of execution. I hope this helps!

[2021-06-25 15:32] goatandsheep commented on #170
take a look at https://www.npmjs.com/package/dotenv-flow . I will add the link to the README

[2021-06-25 20:41] caiangums commented on #182
The idea is exactly a breaking change and possibly, be merged at a future release! 😄

Thanks for accepting! 🙏

[2021-06-28 14:36] Rena-Ivis opened #190 "Env in build.gradle"
Can I use .env variable in app/build.gradle ?

[2021-06-28 15:53] goatandsheep commented on #190
No. it's not Javascript, so Babel can't change it. Take a look at this article on how to create multiple different builds https://reactnative.dev/docs/signed-apk-android#adding-signing-config-to-your-apps-gradle-config

[2021-06-28 16:04] goatandsheep commented on #187
So I found something similar but it doesn't use dotenv-flow: https://github.com/jordansexton/babel-plugin-transform-inline-environment-variables

Let me know if this is what you're thinking about? I did a few experiments copying the code from that library and it worked quite well

[2021-06-28 17:54] goatandsheep commented on #187
@wholebuzz I did some initial work on a branch https://github.com/goatandsheep/react-native-dotenv/tree/bugfix/gh-187 if you're interested in helping out with adding the options let me know!

[2021-06-29 15:13] Shivam-Vishwasrao commented on #52
VS Code could be a little funky with how it imports modules from directories located above it, I had the same error and all I had to do to fix it was add a `./` before `src` directory. In this particular case it will look like `./src/utils.ts` and it should work. This may change on how many directories above is your `@env` file located.

[2021-06-30 16:04] miwialex commented on #170
@goatandsheep thanks for the reply, and this is helpful. If you look here https://www.npmjs.com/package/dotenv-flow#variables-overwritingpriority it states that `.env.local` should have lower priority than `.env.production`. However, the way `react-native-dotenv` currently works is, it treats `.env.local` as the highest priority file.

[2021-06-30 16:06] goatandsheep commented on #170
You're 100% right. This will be a breaking change but you're right. Thanks for pointing this out! I'll fix ASAP

[2021-06-30 17:02] #170 closed

[2021-07-06 20:54] taylorkline commented on #75
@goatandsheep I think this issue should be re-opened, and perhaps even pinned. This is not an issue with `babel-loader` so the caveat currently in the README does not address this issue (I do not have `babel-loader` in my `yarn.lock` nor do I have the `node_modules/.cache` directory).

This issue can be reproduced by init'ing a new React Native project with:

`npx react-native init MyApp --templat

[2021-07-06 21:16] goatandsheep commented on #75
@taylorkline HM... Sorry to hear about the continuing issues. What do you recommend we do? React native uses babel. If you have issues and it's not using babel loader but it's solved with this other yarn command that is also included in the readme, then isn't it solved? How can I help?

[2021-07-07 17:05] taylorkline commented on #75
Ah, I see. I had a misunderstanding.

As it's currently written, the caveats section sounds like it only applies specifically to people who might have manually added a babel caching solution.

Since this issue of caching applies to the majority of users, including anyone who adds this project to a new React Native project, I would really suggest adding something like:

"You must clean the babel ca

[2021-07-07 22:09] mrosendin commented on #52
Following the first recommendation in the readme, but this

[code]

Gives this error:

`Module '"react-native-dotenv"' has no exported member 'MODE'.`

Also tried the second option in the readme, but then I get this error:

`Cannot find module '@env' or its corresponding type declarations`

[2021-07-07 23:01] goatandsheep commented on #52
@mrosendin try changing line 2 to `api.cache(false);` and do you have a `.env` file with the value of `MODE` set?

[2021-07-07 23:01] goatandsheep commented on #75
That's good feedback 👍 I'll try to improve the readme to clarify

[2021-07-12 13:56] KonstantinZhukovskij opened #197 "Multi-env doesn't change"
Multi-env doesn't change. I **_always get variables from .env.development_**, most likely because this file is the first in the folder. I have the folder with 3 files: `.env.development .env.staging .env.production`. I've tried cleaning, reinstalling, and many more options, but nothing seems to work.

**My npm scripts:**
[code]

**I also use the next script:**

`"babel-clear": "rimraf node_modules

[2021-07-12 14:00] goatandsheep commented on #197
How are you setting which environment you're using for your server? Are you using node_env? App_env? Setting it in your configs? Let's figure this out.

[2021-07-12 14:00] KonstantinZhukovskij commented on #197
Updated. Please see in my question

[2021-07-12 14:01] KonstantinZhukovskij commented on #197
I understand correctly that **NODE_ENV** indicates which file to use?

[2021-07-12 14:18] goatandsheep commented on #197
Try applying the environment setting to your run script instead and let me know what happens

[2021-07-12 14:19] KonstantinZhukovskij commented on #197
Could you give me an example?

[2021-07-12 14:34] goatandsheep commented on #197
Sorry for the delay. I'm just doing a bit of research into the problem

[2021-07-12 14:41] KonstantinZhukovskij commented on #197
Did you manage to reproduce it?

[2021-07-12 15:11] goatandsheep commented on #176
@mubarak90 I'm happy you were able to figure it out!

[2021-07-12 15:19] goatandsheep commented on #197
Working on it here https://github.com/goatandsheep/react-native-dotenv-metro-demo

[2021-07-12 16:34] KonstantinZhukovskij commented on #197
Also tell me please, can I get a variable **NODE_ENV** from other places? For example from gitlab CI?

[2021-07-12 17:30] goatandsheep commented on #197
so I did find a bug actually. On gitlab CI my recommendation would be to do the same thing, which is run `NODE_ENV=test` staging isn't recommended but might work.

[2021-07-12 18:02] goatandsheep commented on #197
will be fixed in [`v3.1.1`](https://www.npmjs.com/package/react-native-dotenv/v/3.1.1)

[2021-07-12 19:57] goatandsheep commented on #197
@KonstantinZhukovskij if this change helps you, I request if you can make a donation, please do

[2021-07-13 06:25] vineetaparodkar opened #199 "ENV variables are not loaded at runtime"
**Describe the bug**
ENV variables are not loaded at runtime. Old env variables are getting assigned in components and works if console logs are added.

**To Reproduce**
Steps to reproduce the behavior:
1. Added module in babel.config.js
[code]
2. Added .env file in root directory with following values, Allowed THEME values -->theme1/theme2 DEFAULT_MODE=yes/no
[code]

3. Importing and using the en

[2021-07-13 07:17] KonstantinZhukovskij commented on #197
@goatandsheep  I updated and it still doesn't work. Where exactly are you specifying **NODE_ENV**?

[2021-07-13 07:21] KonstantinZhukovskij commented on #197
I updated and it works great. Thank you very much for your work.

[2021-07-13 10:52] KonstantinZhukovskij commented on #197
@goatandsheep  I asked yesterday about whether I can set the **NODE_ENV** constant from other places, for example, from gitlab CI? Now I tried to build a test assembly and got a production environment everywhere. Could this be a library problem? What are the ways to create a constant **NODE_ENV**?

[2021-07-13 11:54] goatandsheep commented on #197
That's bizarre! In test, you should get test. I don't think I know what you mean by set node_env everywhere. Can you please expand on that?

[2021-07-13 12:02] KonstantinZhukovskij commented on #197
This is part of my code inside the gitlab CI. I am trying to understand whether it is possible to indicate the environment in this way?
[code]

[2021-07-13 12:47] goatandsheep commented on #197
So the module should support reading the global NODE_ENV. However, I haven't tested it in this way yet. Also, for adding process.env variables into the mix, that is also in a pending PR. Go take a look if you're interested #191

If you want "staging", don't use "stage". Also, if you're not using test, development, or production, you're in experimental territory that I do not advise on a tight time

[2021-07-13 12:57] KonstantinZhukovskij commented on #197
What do you mean?

[2021-07-13 13:53] goatandsheep commented on #197
Sorry about that message that was sent from my phone. Let me expand:

Disclaimer: I haven't used firebase config, I just saw:
[code]
so I assumed that it would use `.env.stage`? My apologies if I'm wrong.

I also don't know if this works, but I haven't tried:
[code]
I recommend you set `verbose: true` (new option!) to see what value of env is being loaded.

And regarding
[code]
These will only loa

[2021-07-13 13:57] goatandsheep commented on #199
My guess is that babel recompiles the file when you make the change of adding the console.log . I don't know why but I advise you try to invalidate the cache in your babel config https://github.com/goatandsheep/react-native-dotenv-metro-demo/blob/c0daeebe35a87c524eb88803e19f445d6d6956d4/babel.config.js#L2

[2021-07-13 16:05] KonstantinZhukovskij commented on #197
@goatandsheep  Are you going to merge it?

[2021-07-13 17:04] goatandsheep commented on #197
I'm waiting to see if I can get some support before I do as it's a major feature

[2021-07-14 07:14] KonstantinZhukovskij commented on #197
@goatandsheep Could you create a new branch with the latest changes and #191 ?

[2021-07-14 09:59] KonstantinZhukovskij commented on #197
@goatandsheep I made a patch with your changes #191 and tested it, but it still doesn't work. I am not getting data from my environment files, although I did get the NODE_ENV constant.

[2021-07-16 03:35] ous24 opened #200 "Building a release with a specific environement file"
i can't figure a way to build a release with my .env.staging , the release always use the .env.production file

[2021-07-16 13:02] goatandsheep commented on #200
You will need to configure your signing config for each of your environments
https://reactnative.dev/docs/signed-apk-android#adding-signing-config-to-your-apps-gradle-config

[2021-07-16 23:49] mrosendin commented on #52
@goatandsheep yes, I tried that too. I'm using `.env.development` and `.env.production`.

[2021-07-17 01:14] goatandsheep commented on #52
@mrosendin try this https://github.com/goatandsheep/react-native-dotenv/wiki/Additional-Troubleshooting#2

Also if you're not already on latest, I recommend you use v3.1.1 as I made a very important priority fix

[2021-07-17 04:32] mrosendin commented on #52
Just to clarify, my project is running fine, I'm just dealing with the VS Code errors below. I upgraded, and spent the past couple of hours trying various things. I am able to get the module to load successfully without the IDE error sometimes, but honestly I can't tell you why. Doesn't seem to matter because whenever I close and reopen the file it will display the error again.

<kbd>![Screen Shot

[2021-07-17 13:31] goatandsheep commented on #52
I'm sorry about all the difficulties 😢

[2021-07-21 19:25] Qwin opened #207 "Feature Request: Load ENV variables in native projects"
Hi,

I am not sure if this is already possible, but I couldn't find anything about it. Right now to have the environment variables accessible from the iOS or Android project I would need to create a bridge that passes these values along.

Was wondering if we could implement something to allow access to the environment variables from the native projects?

Thanks,
Robert

[2021-07-25 01:16] andersonaddo commented on #207
This is pretty much a solved problem with https://www.npmjs.com/package/react-native-ultimate-config

[2021-07-25 01:23] andersonaddo commented on #175
https://github.com/goatandsheep/react-native-dotenv/issues/75#issuecomment-720526349

YMMV, I have not tried it

[2021-07-26 14:15] MrAdex77 commented on #52
Hi, i was struggling 1 hours with this problem, nothing worked, finally some miracle happened when i changed in .env from
`API_KEY=xx `
to
`API_KEY = xxx`
and saved..

[2021-07-27 09:43] snab88 opened #209 "Setting the right environment for development and release builds"
I am trying to use `.env.development` and `.env.production` based off of NODE_ENV. We use App center to generate release builds. The environment always defaults to `.env.development` when I set NODE_ENV to production.

Steps I do is as follows:
[code]

[2021-07-27 11:29] goatandsheep commented on #209
In my experience, it works better to set the environment variable on the same line as your server. What operating system are you on?

[2021-07-27 11:39] snab88 commented on #209
Thanks for your reply. Its run in App center VMs which are macOS for react native.

[2021-07-27 12:03] goatandsheep commented on #209
Try

[code]

Instead of

[code]

[2021-07-27 15:52] snab88 commented on #209
It works like that if I try locally. But the issue is that on a remote VM the metro bundler starts automatically before build so I wont have much control over what passed in the command

[2021-07-27 18:15] goatandsheep commented on #209
okay I understand now. this is a common issue. You'll need to check out custom signing of your app as well as using variant / configuration / bundle options addressed in the wiki https://github.com/goatandsheep/react-native-dotenv/wiki/Multi-env-troubleshooting#react-native-cli

Let me know if this works

[2021-07-29 02:06] Samhenry97 opened #210 "Add support for multi-env local files"
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**
This library does not work with multi-env local files, like `.env.development.local`. I looked at the code, and it's missing those cases in safe and regular mode. Could we please add that? It should be a simple change - I'm willing to open a PR if it's easier for you.

**To Reproduce**
Create `.env.develop

[2021-07-29 02:37] goatandsheep commented on #210
do you think we should just move to the `dotenv-flow` library from `dotenv`?

[2021-07-29 20:46] goatandsheep commented on #207
@Qwin I'm not really sure how that would work to be honest. My best guess is to follow the other suggestion here by @andersonaddo

[2021-07-30 13:46] Samhenry97 commented on #210
That certainly seems like it could be a good solution. I think either way would work - if we don't move to that library, we can easily reproduce its behavior with just a few lines of code.

[2021-07-30 13:51] goatandsheep commented on #210
Actually you're probably right. It may be difficult to deal with the environment variable values. If you want to create a branch I'll merge it in. I'm a bit swamped right now

[2021-08-10 22:40] Samhenry97 commented on #210
@goatandsheep the pull request is ready.

[2021-08-11 20:30] #210 closed

[2021-08-16 13:02] Nero2869 opened #218 "java.lang.String cannot be cast to java.lang.Double"
- [x] Asked question in discussions
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**
After npm i react-natove-dotenv and set it out I'am getting this error> java.lang.String cannot be cast to java.lang.Double. Stacktrace is very long. App is immediately crashing.  Belong some first lines and link to full view.

 E/unknown:ReactNative: Exception in native

[2021-08-19 11:13] Nero2869 commented on #218
There was my mistake. I Totatly didint know that any value from env is a String value.
Basicly I found place where I pass value that should be number but after get from env it is representet as string.

[2021-08-19 11:13] #218 closed

[2021-08-26 19:27] bfricka opened #219 "APP_ENV breaks builds that already use that environment variable"
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**
The title basically says it. The addition of the `APP_ENV` override is a breaking change for those of us who already had that variable defined for other purposes.

**Expected behavior**
I should have a way of overriding this variable if I don't want to use it or want to use another variable.

I've already

[2021-08-28 09:15] og-abdul-mateen commented on #52
I'm wondering how do you manage separate environments when using this approach? I mean how do you access the variables defined in `env.production` or `env.development` after declaring the `@env`?

[2021-08-28 22:04] Harukisatoh opened #222 "Shouldn't be installed as dev dependency?"
I looked into README, and the command to install `react-native-dotenv` is `npm install react-native-dotenv`, but why is that? Shouldn't be `npm install react-native-dotenv --save-dev`? Or is there a specific need to install it as production dependency?

[2021-08-31 12:40] simonkarman commented on #200
@goatandsheep Where in the sign config can you specify the name of the environment it should use?

[2021-08-31 20:59] bfricka commented on #219
Hello there! It's been several days since I opened this, and I think it's a pretty straightforward issue and PR. Anything I can do to help this move forward? Thank you.

[2021-08-31 22:09] #131 closed

[2021-09-01 04:16] #182 closed

[2021-09-03 08:30] talaikis opened #223 "ENOENT: no such file or directory, rename .react-native-dotenv.DELETE' npm ERR! enoent This is related to npm not being able to find a file"
- [x] Asked question in discussions
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**

When installing:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `npm i react-native-dotenv`

**Expected behavior**

Installs w/o problems.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follo

[2021-09-04 02:14] #190 closed

[2021-09-09 02:06] chungweileong94 commented on #222
@Harukisatoh It doesn't really matter that much on RN, but it should be installed in "dependencies" instead of "devDependencies", so how I see it is that we do import code from `react-native-dotenv`

[2021-09-13 11:18] dwidc commented on #222
@Harukisatoh, @chungweileong94

I tried installing this react-native-dotenv on devDependencies, and it works just fine.

I use `yarn add -D react-native-dotenv` when install.

Added plugins on `babel.config.js`:
[code]

added typescript `config.d.ts`:
[code]

and import it on my tsx component using
[code]

everything works.

So yeah, it should be on dev dependency, no need to include it as runtime

[2021-09-19 13:02] #197 closed

[2021-09-21 13:13] mehdiamiri1440 commented on #176
same problem!! someone help please !!

[2021-09-21 23:13] cgallivanpam commented on #75
I have tried everything from `expo r -c` to yarn start `--reset-cache`. I think at the end of the day it may require a computer restart... thanks @goatandsheep for working on a solution. I see you all accross the forums working on this. 🙏

[2021-09-30 00:31] goatandsheep commented on #219
sorry! I was AFK for a few months. I will be reviewing it and probably merging it within the next week

[2021-09-30 00:34] goatandsheep commented on #223
This is similar to this issue: https://github.com/npm/npm/issues/17444 let me know if the solutions there help you

[2021-09-30 04:00] talaikis commented on #223
It does not, I went with yarn, so this seems is npm issue.

[2021-09-30 04:00] #223 closed

[2021-10-01 05:42] #175 closed

[2021-10-02 19:14] #209 closed

[2021-10-05 15:55] #207 closed

[2021-10-18 02:56] 02mk opened #242 "Main module is could not found your project"
- [ ] Asked question in discussions
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screen

[2021-11-02 02:26] #199 closed

[2021-11-02 21:58] bfricka commented on #219
Baaaahh

[2021-11-02 22:02] goatandsheep commented on #219
okay I'm checking it now!!

[2021-11-02 22:55] goatandsheep commented on #219
To be honest, I think `APP_ENV` should still be used even if you're already using it. It's better to be consistent with a standard. However, I won't be surprised if you're not the only one who wants this. I want to continue to label it as an experimental feature available as a backup in the README

[2021-11-02 22:56] goatandsheep commented on #219
if you're okay with that, I'll merge the changes in, add the "fix", then tag you and if you're okay with that, I'll release the next version?

[2021-11-02 22:57] goatandsheep commented on #219
I'll do release tomorrow

[2021-11-02 22:59] #187 closed

[2021-11-02 23:02] bfricka commented on #219
In our case, we can't use `APP_ENV` because the enum that we use has different values from those accepted by dotenv.  At some point I might refactor this to use something else, but it's pretty consistent across our projects. I'm fine with however you want to release. Thanks.

[2021-11-03 16:56] goatandsheep commented on #219
okay! with that, we can safely close this :)

[2021-11-03 16:56] #219 closed

[2021-11-03 17:00] goatandsheep commented on #222
I recommend this be installed as a dev dependency, but this is a babel config module. You can use it however you'd like. Maybe we can specify that the recommended action is dev dependency for react native

[2021-11-03 18:15] goatandsheep commented on #242
Hi @02mk I did not see your question in discussions, but this looks like a familiar error. Are you sure you tried the troubleshooting wiki? It seems it may have been installed incorrectly. For most applications, this should be installed under dev dependencies as should babel

[2021-11-03 18:27] #222 closed

[2021-11-08 17:07] rush86999 commented on #52
changing to ```"react-native-dotenv"``` works on ios but not on android. Any other suggestions?

[2021-11-09 10:25] ro-mgh commented on #59
Only this worked out for me: you could just simply add this variable to your jest.config.js.

module.exports = {
  ...
  globals: {
    ...
    ENV_VARIABLE: 'env_variable',
    ...
  },
  ...
};

[2021-11-11 06:53] karlvr opened #251 "NODE_ENV is undefined"
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**
After upgrading from 3.2.0 to 3.3.0 my use of `process.env.NODE_ENV` returns `undefined`. It seems that 3.3.0 added support for `process.env`, but maybe clobbers `NODE_ENV`? I tried added to the `blocklist`, and I have `safe` set to `true`, but nothing seemed to change the behaviour except downgrading to 3

[2021-11-15 02:31] goatandsheep commented on #251
Hi @karlvr I created a branch that added `NODE_ENV` to the `process.env` test, which seemed to pass (check PR #252 ). I didn't see your thread in the discussions section, but that's okay we're here now. I'm happy to assist further following priority boost

[2021-11-17 16:49] goatandsheep commented on #52
this ticket has been open for a while and that solution is in the README, so I'm closing this

[2021-11-17 16:49] #52 closed

[2021-11-22 13:01] hrastnik opened #253 "Feature request: Export function for programmatically loading .env files"
What I'm trying to achieve:
I would like to use environment variables to control whether some babel plugins will be enabled. Namely - I want to include `babel-plugin-transform-remove-console` when the env variable `DISABLE_LOGGING` is set to `true`. This variable is configured in my `.env.dev` file.
I'm trying to achieve this by reading the value of the `DISABLE_LOGGING` env variable in my `babel.

[2021-11-23 16:21] JameDodgers commented on #209
Could you give me an example on how to do it? I was thinking in setup different values for NODE_ENV based on which buildType I'm assembling, but I don't know very much about gradle and everything I tried until now failed 😔

[2021-11-24 12:31] Akshh057 commented on #75
yarn start --reset-cache works for me!

[2021-11-26 07:00] raahuldaahaal opened #254 "Environment variables are not getting updated"
**I am using expo ~43.0.0**
The package reads the old value even if the server is re-started.
Tried all the solutions described in the [similar issue](https://github.com/goatandsheep/react-native-dotenv/issues/75). Didn't help.

**Workaround (not ideal)**
If I change the `App.js` file(I've imported env. variables here), the variables do get updated.
But, why should we change the file?

I'm not sur

[2021-11-26 09:38] seba9999 commented on #75
Using expo ``expo r -c`` works ... But as I have to change often of environnements... It's annoyingly long ! :'(

Deleting the `node_modules/.cache/babel-loader/` solution seems to be a more effective way ... But I can't find any '.cache' folder in my nodes_modules :(

 I din't try the @TJTorola's solution yet ... But seems overcomplicated ...

[2021-11-26 12:09] Coci0AlexMeew commented on #254
I just had a similar issue. I ran the following cmd to fix it:

`rm -rf $TMPDIR/metro-* && rm -rf $TMPDIR/haste-map-* yarn cache clean`

[2021-11-29 16:08] TJTorola commented on #75
@goatandsheep It looks like https://github.com/babel/babel/pull/11741 got approved a few days ago. Maybe something to keep an eye on since with that API we could properly fix this problem.

[2021-11-29 16:13] goatandsheep commented on #75
@TJTorola I've been checking it every day. I never thought that would happen but since it seems it will happen I will reopen this ticket

[2021-11-29 16:14] goatandsheep commented on #254
thank you @Coci0AlexMeew ! I have also reopened #75 so I'm marking this as a duplicate

[2021-11-29 16:14] #254 closed

[2021-11-30 12:28] andidev commented on #75
Not sure if this helps but setting `resetCache: true` in metre.config.js makes cache reset everytime metro starts (anyway you it gets started).

![olipaysdk-app – metro config js 2021-11-30 13-24-53](https://user-images.githubusercontent.com/571389/144047280-af56805b-c91a-482b-90af-501ce387d94f.png)

[2021-12-02 06:20] RevatiPatil-123 opened #260 "Unable to resolve module fs from node_modules\dotenv\lib\main.js: fs could not be found within the project."
Building JavaScript bundle: error
ERROR
11:36
Unable to resolve module fs from node_modules\dotenv\lib\main.js: fs could not be found within the project.

If you are sure the module exists, try these steps:
 1. Clear watchman watches: watchman watch-del-all
 2. Delete node_modules and run yarn install
 3. Reset Metro's cache: yarn start --reset-cache
 4. Remove the cache: rm -rf /tmp/metro-*
  22

[2021-12-02 15:45] goatandsheep commented on #260
Hi @RevatiPatil-123 I don't see this library installed as a devDependency. I highly recommend you check out the troubleshooting guides in the wiki section

[2021-12-03 02:04] RevatiPatil-123 commented on #260
@goatandsheep ok sir I will check it thank you.

[2021-12-03 02:05] #260 closed

[2021-12-04 05:39] goatandsheep commented on #253
Try using dotenv-flow

[2021-12-13 14:48] tgwow commented on #251
Hello guys, I'm also having this behavior using multi-env.

I can only use multi-env if I set `APP_ENV`.  My question is if i can have problems with `NODE_ENV == undefined`?

`babel.config.js`
[code]
`package.json`
[code]

and the logs are:
[code]

[2021-12-13 17:05] goatandsheep commented on #251
I figured out how to reproduce the error and I'm investigating

[2021-12-13 17:52] tgwow commented on #251
@goatandsheep thank you for the quick answer. I'm building with `expo ba --releaseChannel staging`, but it always points to `.env.production`, do you think it has something to do with the above problem? The "benv" log outputs `production`.

[2021-12-13 18:06] goatandsheep commented on #251
I figured out how to fix @karlvr 's problem.

@tgwow `APP_ENV` is not recommended behaviour and using `development` and `production` is not supposed to work using `APP_ENV`. Recommended behaviour is to use `NODE_ENV=development`. See the docs https://github.com/goatandsheep/react-native-dotenv#override-envname

[2021-12-13 18:43] goatandsheep commented on #251
@tgwow look into creating a dev build https://docs.expo.dev/development/getting-started/

[2021-12-14 15:56] goatandsheep opened #266 "change dependencies badge from david-dm"
should we use synk or something else? shields.io

[2021-12-14 19:09] goatandsheep opened #267 "Create Contributing and conduct code"
* https://github.com/opengovernment/opengovernment/blob/master/CONTRIBUTING.md
* https://www.contributor-covenant.org/
* https://github.com/nodejs/admin/blob/HEAD/CODE_OF_CONDUCT.md

[2021-12-20 14:10] dmahajan980 opened #269 "Importing variables throws an error in TypeScript."
- [ ] Asked question in discussions
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**
Whenever an environment variable is imported from the module, TypeScript throws the following error:

<img width="486" alt="Screenshot 2021-12-20 at 7 27 54 PM" src="https://user-images.githubusercontent.com/37256767/146779129-d3cf7cd6-3f02-4a78-83ea-fb9458f4e2f9.png">

[2021-12-22 16:48] fristyr commented on #269
I have the same issue

[2021-12-22 16:50] goatandsheep commented on #269
Have you tried the `@types` package? Does it help?

[2021-12-22 16:51] fristyr commented on #269
Yep. "@types/react-native-dotenv": "^0.2.0",

[2021-12-22 19:42] dmahajan980 commented on #269
Yes, this is what I've been using in my project.

[2021-12-30 16:27] ineshbose commented on #269
Same issue here!

[2021-12-31 01:47] goatandsheep commented on #269
HM... I'm not sure what to do to fix this 😔

[2022-01-05 10:47] catarinaguerreiro opened #272 "It is possible to import an env variable and use it in build.gradle?"
- [x] Asked question in discussions
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

I am trying to use and env variable in the build.gradle file, but without success.
I tried somethings like this:
`System.getenv('HOME')`

Can someone help me?
Thank you :)

[2022-01-05 19:49] cscovino commented on #269
I used it in this way and it works

[code]

I think this is because the type definition is exporting a const

[code]

[2022-01-05 20:22] cscovino commented on #269
According with the type [definition](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/f7ec78508c6797e42f87a4390735bc2c650a1bfd/types/react-native-dotenv/index.d.ts), we should import env as default like [this](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/f7ec78508c6797e42f87a4390735bc2c650a1bfd/types/react-native-dotenv/react-native-dotenv-tests.ts):

[code]

This eliminates the

[2022-01-05 20:33] goatandsheep commented on #269
Yup the default import is purposely disabled because the values are replaced by babel in compile

[2022-01-05 20:37] cscovino commented on #269
Ok. My workaround was to create a file named `env.d.ts`

[code]

[2022-01-06 02:09] goatandsheep commented on #269
I feel like the definitely typed package is probably a time waster and shouldn't be recommended. I tried to think about how it could be fixed but you kinda just need to declare the module types yourself in the end

[2022-01-06 02:34] cscovino commented on #269
Yes. I think the only way it's to define types by yourself 🙃

[2022-01-07 18:06] nisargrthakkar commented on #75
@goatandsheep Please try ```resetCache: true``` in metro.config.js as per @andidev  answer its work for me.

Thanks @andidev

[2022-01-09 12:11] phankietit commented on #75
My solution 😂:

Package.json file:
[code]

[2022-01-10 13:08] #242 closed

[2022-01-20 00:19] lkdm commented on #75
What a stupid issue. And nothing I've tried in this thread has been able to fix it.

[2022-01-20 05:12] goatandsheep commented on #75
@lkdm This issue has been reopened as a placeholder to maintainers awaiting babel updates but if the readme is insufficient please provide more information

[2022-01-20 05:17] lkdm commented on #75
@goatandsheep I was able to solve it by `rm -rf`ìng the entire repository and pulling from remote.

[2022-01-20 11:56] goatandsheep commented on #75
That will do it but you'll have to figure out a solution that works every time you change your dotenv values. For now i recommend adding the babel cache false but when this is merged in you won't have to

[2022-01-21 04:24] quocbaovu15101996 opened #279 "How to build release apk with env.development"
When I build the release file .apk in android. Env using the default is env.production, how can I build release .apk with env. development

[2022-01-21 05:40] nisargrthakkar commented on #75
resetCache: true is working for me

[2022-01-21 11:49] goatandsheep commented on #279
You'll need to sign it in development mode
https://reactnative.dev/docs/signed-apk-android#adding-signing-config-to-your-apps-gradle-config

[2022-01-22 15:34] ivanherczeg commented on #52
It is like wash your car, and take out the garbage.

[2022-01-22 16:54] goatandsheep commented on #52
For now, yeah. A big babel update is coming soon that will fix this once and for all 🎈

[2022-01-24 08:42] f4z3k4s commented on #52
Yeah, pretty much. I know this is no place for ads, but I bought a new car since then, called [react-native-config](https://github.com/luggit/react-native-config). The extra it offers is that you can use the env vars in native as well. Plus, it just works.

 @goatandsheep no offense though, hope babel update will fix all ongoing issues. :)

[2022-01-31 12:00] GermaVinsmoke commented on #52
I used this configuration and it worked for me.

**env.d.ts**
[code]

**babel.config.js**
[code]

**index.ts**
[code]

Not sure if it's good or not (security-wise) but it is working for me.

Only dependency which is needed is **react-native-dotenv**, not even the **@types/react-native-dotenv** is needed.

[2022-02-01 16:46] Tasluf665 commented on #141
Make sure you import react and react-native first to use @env

import react from "react";
import { View } from "react-native";

import {
  API_KEY,
  AUTH_DOMAIN,
  PROJECT_ID,
  STORAGE_BUCKET,
  MESSAGING_SENDER_ID,
  APP_ID,
} from "@env";

export default {
  API_KEY,
  AUTH_DOMAIN,
  PROJECT_ID,
  STORAGE_BUCKET,
  MESSAGING_SENDER_ID,
  APP_ID,
};
Like this.
This solves my problem.

[2022-02-02 17:25] goatandsheep commented on #75
changes from the babel PR are merged! Time to implement this when the next babel release comes out: https://github.com/babel/babel/pull/14065#issuecomment-1009334079

[2022-02-07 19:44] goatandsheep commented on #266
https://img.shields.io/librariesio/release/npm/react-native-dotenv

[2022-02-07 20:06] goatandsheep commented on #272
no this is just for with Javascript :( you'll have to use react-native-config

[2022-02-07 20:06] #272 closed

[2022-02-07 20:07] goatandsheep commented on #253
or try using `process.env`?

[2022-02-14 04:36] goatandsheep commented on #75
if people can help review the incoming PR #288 , that will help tremendously. I will publish it under a `next` tag to it after I get review

[2022-02-15 03:05] #267 closed

[2022-02-15 03:26] #266 closed

[2022-02-15 03:27] #253 closed

[2022-02-15 03:27] #279 closed

[2022-02-15 03:32] goatandsheep commented on #269
since this is in the README, I will close this ticket. feel free to reopen if this doesn't work

[2022-02-15 14:44] goatandsheep opened #293 "Codecov library deprecated"
Codecov coverage library is deprecated and causing [security bugs](https://github.com/advisories/GHSA-r683-j2x4-v87g). We can:

1. Remove and see what happens
2. Update with a new shell-based upload (I'm not too happy about this)
3. Switch to something else like https://coveralls.io/

[2022-02-16 16:03] goatandsheep opened #295 "Automated releases"
https://github.com/semantic-release/semantic-release

[2022-03-04 04:46] samceena commented on #52
thanks. this worked for me.

[2022-03-13 23:01] allandiego commented on #251
im having a similar strange behavior using expo 44 and  "react-native-dotenv": "^3.3.1",  process.env.NODE_ENV return undefined but process.env have value

[code]

[2022-03-20 17:31] goatandsheep commented on #75
please test the next version https://www.npmjs.com/package/react-native-dotenv/v/3.4.0 if I get 3 thumbs up from the post I'll publish this as the proper change

[2022-03-22 10:16] GoaGit commented on #75
@goatandsheep I've tested `v3.4.0` and experience the following issue (using `Expo` and `v3.3.1` of `react-native-dotenv` this particular issue does not occur). I haven't changed anything, other that installing the `v3.4.0` version of `react-native-dotenv`.

I will look into this in more detail, but perhaps you can spot the issue right away.

[code]

[2022-03-22 15:06] TJTorola commented on #75
@goatandsheep I'll try and take a look at that version sometime this or next week.

[2022-03-23 14:03] wcastand commented on #75
Tested on 3.4.0 and the env are not updated without `--clear` still.
i have a `ROOT_API` in  `.env`
and one in `.env.staging`

and switching between both this doesn't change the `ROOT_API` unless i do `--clear` :)

[code]

[2022-03-23 21:38] cbroome commented on #75
I'm seeing this behavior when using typescript/tsc any idea of how to reliably delete the cache?

[2022-03-24 01:12] JoseVov commented on #20
With  'react-native-dotenv'

[code]

With `@env`

[code]

[2022-03-24 02:32] lnwanghao commented on #279
I'm a little confused.
Is there any example that can achieve this?

[2022-03-24 16:52] Benoit-ROBIN opened #301 "can't make it work with react-native-web"
I'm developing an app with react-native-web and I can't get react-native-dotenv to work in web mode.
My react-native-web setup works with react-scripts.
I do not use expo.
I didn't override the webpack config.

Is the lib compatible with react-native-web?
Is it necessary to modify the configuration of webpack?

Here are the errors I got:

[code]
[code]

[code]

[code]

[2022-03-25 17:29] hadnet opened #302 "Android bundle can't read .env file"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%242%20Funded-%2300A156.svg" />](https://issuehunt.io/r/goatandsheep/react-native-dotenv/issues/302)

I'm using react-native-dotenv for my Android app. When building a debug or even a release apk, my app reads the env variables correctly. All works fine. The problem is when building the bundle .aab (that one  submit in Play S

[2022-03-25 17:35] hadnet commented on #302
Done. Hope you can help me with this.

[2022-03-25 18:12] goatandsheep commented on #301
Are you importing this as a prod dependency? For projects, use devDependency. Only if you're building a babel lib (for whatever purpose) do you need this as a prod dependency. i should add this to the readme

[2022-03-25 18:16] goatandsheep commented on #20
install as devDependency

[2022-03-25 20:06] hadnet commented on #302
Thanks for quick response. No I didn’t know that, I’m new using this. Read the article but how to setup in order to work on bundle? So I need to add flavorDimensions "default" but how to setup productFlavors for the bundle (.aab). Mine is like below
[code]

[2022-03-25 20:39] goatandsheep commented on #302
debug is going to be develop and release is going to be production. this is unless you use `APP_ENV`

[2022-03-25 21:19] hadnet commented on #302
I’m not using the APP_ENV prop. So adding flavorDimensions "default" and using the productFlavors {} with that configuration above should be working?

[2022-03-25 21:20] hadnet commented on #302
And do I need to use a .env.production file or using the .env.development and .env like I’m using currently is fine just fine?

[2022-03-25 22:04] goatandsheep commented on #302
It should follow dotenv flow priority to some extent https://www.npmjs.com/package/dotenv-flow#variables-overwritingpriority

[2022-03-25 22:06] goatandsheep commented on #302
Yes app_env is not necessary for most applications

[2022-03-25 22:21] hadnet commented on #302
Thanks again, man. So makes no difference using .env.production, it’s just for merging and priority. So do think that this problem with bundle could be related because I’m using Expo EAS for bundling? Have you ever use eas along with your package?

[2022-03-25 22:29] goatandsheep commented on #302
I have. Try taking a look at this example https://github.com/goatandsheep/chatkitty-example-react-native

[2022-03-25 22:45] hadnet commented on #302
Mmm, my app is a bare workflow, not managed, have you tried with eas+bare workflow+react-native-dotenv? I’m seeing some people with same issue but no proper answer, so I’m not the only one.

[2022-03-27 05:26] goatandsheep commented on #302
I don't know...is it possible to provide a simple example repo so I can figure it out with you?

[2022-04-04 07:41] ShivamJoker commented on #52
@goatandsheep have you purposefully kept the imports to `@env` in the readme? seems like it is causing lot of trouble to people.

Please update it with the package name.

[2022-04-04 11:24] goatandsheep commented on #52
@ShivamJoker that would be a breaking change. I'd have to increment the major version number and already am working on a permanent caching fix

[2022-04-04 11:30] ShivamJoker commented on #52
@goatandsheep I am not sure how cache is the problem I already did everything but still not sure how @env will work

[2022-04-04 16:09] goatandsheep commented on #52
You're welcome to open a PR

[2022-04-18 15:04] russmenum opened #308 "error: Error: Unable to resolve module @env"
- [x] Asked question in discussions
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**
A clear and concise description of what the bug is.

Fresh install getting

[code]

```babel.config.js``` based on documentation as folows:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. ```npm install react-native-dotenv```
2. add ```.env``` to root dir
3.

[2022-04-19 13:53] russmenum commented on #308
I get that devs got to eat too, but since this library does not work and only addresses bugs when paid, I found this [one](https://github.com/luggit/react-native-config)

Simple and works, no need to modify babble, just standard modern auto-link and pods

[2022-04-20 19:02] goatandsheep commented on #308
Did you install as dev dependency? Sorry about the issue. I'd like to be able to help

Up to you. That's still a good library if you want to deal with linking. This is a JS solution.

[2022-04-22 01:43] phathuynh5519 opened #310 "[Feature request] Support react-native-web"
Folks, we love your work, please help support this module for react-native-web sourcebase, we believe that your work will be recognized both on react-native and cross-stack communities, RNW is now the most prominent one in industrial ICT projects
Reference:
1. [https://github.com/necolas/react-native-web](https://github.com/necolas/react-native-web) (400K+ sourcebase worldwide)
2. [https://github.

[2022-04-22 02:11] goatandsheep commented on #310
Hi @phathuynh5519 thank you! Are you facing any issues supporting web?

[2022-04-24 06:01] #293 closed

[2022-04-26 02:01] phathuynh5519 commented on #310
Yep Dear, would u please support us, we tried uninstall node_modules folder and reinstall npm
[code]
[code]

[2022-04-26 14:37] goatandsheep commented on #310
Oh this is a typescript issue. Can you try changing `moduleName` to "react-native-dotenv" and use "react-native-dotenv" instead of "@env" ?

[2022-04-27 09:56] #295 closed

[2022-04-27 15:09] vjau commented on #269
The README recommends two ways to get typescript to work, way 1 "easy mode", and way 2.
Way 2 is just to define the types yourself.
Way 1 "easy mode" doesn't work.

[2022-04-28 16:08] leroux-p commented on #308
@goatandsheep was I supposed to install this as a dev dependency?
I followed the tutorial, but I still cannot resolve `@env`

[2022-04-28 17:18] goatandsheep commented on #308
Yes it should be dev dependency

[2022-04-28 17:24] goatandsheep commented on #269
I'm sorry way 2 hasn't worked for you but for some it has worked very well. How can I help?

[2022-04-28 17:44] vjau commented on #269
I wrote way 1
It's way 1 that is not working. It should probably be removed from the README.

[2022-04-28 22:49] goatandsheep commented on #269
Sorry that's my bad for not reading properly, but the way this works is that if something goes wrong, you can suggest that maybe the method doesn't work at all or you can ask what you did wrong. This is a community where we have to keep our minds open to the possibility that we made a mistake somewhere and that it's ok because we can learn together. I'm happy to take a look at your code to see why

[2022-04-29 06:04] vjau commented on #269
Ok, last try.

The README is recommending two ways to get typescript to work with this package.
OPTION 2 is just to `declare` your env variables by hand.
OPTION 1, presented as the _easy way_, require to install the definitely typed type package.

However,  as explained by the thread starter, and multiple participants in this thread, this way doesn't work.

Actually, you agree yourself that it doe

[2022-05-02 12:03] YouRik commented on #308
Same problem here. Have now installed as dev dependency but was not resolved

[2022-05-02 14:02] goatandsheep commented on #308
How can I help? Are you using typescript? How are you trying to import? Is it possible to show the project?

[2022-05-02 17:28] YouRik commented on #308
Thank you very much for your readiness to help.
It appears that the error is only shown by the linter (in VS Code at least) but the code actually works. So it's not a real error.
I created a small Expo typescript template repo so you can check. Purely for the sake of reproducibility, I also added the `.env` file with a dummy entry.

Here is the URL https://github.com/YouRik/RNDotenvTest which you

[2022-05-02 18:59] goatandsheep commented on #308
Typically you can avoid this by using "react-native-dotenv" as your "moduleName".

[2022-05-02 19:21] YouRik commented on #308
As you should see, that is what I did. Do you see anything else that was not set up correctly? Do you get the same error when cloning the repo I linked?

[2022-05-03 05:11] YouRik commented on #308
I'm sorry, my mind was apparently preoccupied with something else.
The linter error I get after changing the module name is not the one in the issue description but actually "Module '"react-native-dotenv"' has no exported member 'DUMMY_ENTRY'."
Is this related? Should we try to troubleshoot this outside of this issue (if you have any other suggestions on how we could fix it)?

[2022-05-09 21:14] tkodev commented on #113
dotenv seems to put all the variables into process.env without whitelisting. Is this something a module would be able to do ? (inserting vars into process.env)

[2022-05-09 22:04] goatandsheep commented on #113
No not really possible to push something across all versions because it'll overwrite a lot of built in values from react and react native and stuff. This library used to not touch process.env at all (would still have lots of values). Now it adds to it whatever people ask. However for your own app you can look into the option to use allowList in your build options

[2022-05-18 10:21] majorarif commented on #52
Solved my issue.

[2022-05-25 16:06] alequint8912 commented on #75
Thanks thats work for me!!

[2022-05-29 13:42] lawrence615 commented on #20
This is what worked for me:

[code]

[2022-05-29 17:36] duncan-iaria commented on #269
Can confirm, Option 1 does not work for me.

[2022-05-29 22:48] goatandsheep commented on #269
If you want to open a pull request I'll accept it

[2022-05-31 16:31] row248-hola opened #323 "Destructing `process.env`"
- [ ] Asked question in discussions
- [x] Tried the troubleshooting Wiki
- [ ] Followed the migration Wiki

**Describe the bug**
Env variables set from destructing `process.env` is not processed by this package

**To Reproduce**
Access variables from `.env` file via this pattern:
[code]

**Expected behavior**
`var1` and `var2` was replaced by value from .env if there is any

[2022-05-31 17:41] Boukezzoula commented on #141
this fixed it for me

[2022-06-02 03:56] danteyc commented on #75
Thanks. Thats work for me

[2022-06-04 02:42] #301 closed

[2022-06-06 16:38] LucasRobert123 commented on #308
Para funcionar basta configurar o **moduleName** com o @env, e tb se tiver usando typescript o nome do múdulo será @env, isso resolveu pra mim.
import{BASE_URL} from '@env'
por exemplo

[2022-06-22 16:47] liuyankit commented on #75
Nothing mentioned above seems to work for my expo project mixed up with react web stuffs

[2022-06-30 10:19] puckj commented on #52
work for me thank you very much xd

[2022-07-07 00:39] douglascavanaugh commented on #251
RN 0.68.1:  For anyone who comes upon this issue:  Don't call NODE_ENV on the "process.env", call it on the const value:

`const environment = process.env`
`console.log(environment.NODE_ENV)`

[2022-07-07 03:05] #310 closed

[2022-07-09 16:28] nicodes opened #332 "Error: Unable to resolve module `fs` from `dotenv`"
Hello, I followed the steps to install `v3.3.1` to a fresh `expo v45.0.0` project and I am getting a build error. I have configured my `babel.config.js` as the instructions show, and used the `@env` import. I looked through `yarn.lock` and found this package has a dependency of `dotenv ^10.0.0`, perhaps this dependency is the issue? Build error below:
[code]

[2022-07-09 16:48] #332 closed

[2022-07-09 16:49] nicodes commented on #332
Never mind, solved my issues with a sip of coffee 🤪

[2022-07-19 13:18] LauColombini commented on #52
Te amo chabon, sos crack, veni que te hago un bebe

[2022-07-20 21:43] enisze commented on #52
The solutions are not working for me.

[2022-07-21 01:39] LauColombini commented on #52
Share you code

[2022-07-29 20:02] shakthiGokul commented on #308
Hi , can i access the Env variable map api key in androidmanifest.xml file in react native? thanks in Advance

[2022-08-08 07:10] himgodfreyho commented on #75
None of the above solutions worked for me, and finally this works: https://github.com/zetachang/react-native-dotenv/issues/24#issuecomment-581125204. And this is super annoying as if I have 10 files using the environment variable, I have to change all the files...

[2022-08-08 13:59] XAMEUS commented on #75
None of the above solution worked for me, but I just found the cached files and removed them.

First, to search where was the cached files (with expo, but you might be able to find them elsewhere without it) :
[code]
I then found it in `.expo/web/cache/development/babel-loader/481dd7b81fe573de380af60e33e4c7b2.json`.
Therefore to regenerate it, I just cleaned it (and restart the app):
[code]

[2022-08-08 14:43] himgodfreyho commented on #75
Man you save my day!!!! This works thanks.

[2022-08-10 06:46] #269 closed

[2022-08-13 08:14] Jonak-Adipta-Kalita commented on #308
I also got the same error, when using the @env import in a `.tsx` file, but in a `.ts` file it works fine!

[2022-08-15 10:05] robertclarkson commented on #332
Can I ask how did you solve it? Thank you

[2022-08-15 13:41] Jonak-Adipta-Kalita commented on #308
i found the solution, just add, `"**/*.tsx"` in the `include` array in tsconfig.json

[2022-08-19 12:50] exoriri commented on #251
@douglascavanaugh thanks, really helped. But why this trick with `const environment = process.env` works?

[2022-08-31 16:20] pdavid0 commented on #332
solved it with
`yarn start --clear`
 to clear the metro cache

[2022-09-02 03:44] zdxxxxxx commented on #308
when i use babel-plugin-module-resolver，it does't work.
module.exports = {
  presets: ['module:metro-react-native-babel-preset'],
  plugins: [
    [
      require.resolve('babel-plugin-module-resolver'),
      {
        alias: {
          '@utils': './libs/utils',
          '@sdk': './libs/sdk',
          '@env': './node_modules/react-native-dotenv',
        },
      },
    ],
    [
      'module:

[2022-09-02 11:40] angelgonzalezev commented on #308
If you are using TS. This solved my issue https://dev.to/bhatvikrant/how-to-add-environment-variables-in-a-react-native-project-with-ts-2ne5

[2022-09-05 12:05] tobydeh opened #348 ".env overrides .env.xxx"
My understanding is that .env should be overridden by .env.xxx which it does when using safe mode, but when safe is set to false the order in which dotenv.config is called should be reversed.

Currently the order in which the files are loaded are: modeLocalFilePath, modeFilePath, localFilePath, path
This means that modeLocalFilePath is overridden by modeFilePath which is overridden by localFilePat

[2022-09-07 21:17] Ryanjso commented on #199
has anyone figured out a more elegant solution to this?

[2022-09-18 15:56] v4irajvimu commented on #200
did you find a way?

[2022-09-18 16:21] v4irajvimu opened #353 "How to release a build for staging env"
Hi Team,

I have followed multiple env files in the app.
- .env.development
- .env.production
- .env-staging

I have set three different values for the API_BASE_URL since I need to connect to the backend according to the environment.
currently working with debug mode by setting environment like this => APP_ENV=staging react-native start

My question is when I release a build using Xcode archive, h

[2022-09-22 10:43] elirangoshen opened #354 "Cannot get env variables in rn 0.69"
- [x] Asked question in discussions
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**
im getting undefined variables in rn 0.69

**To Reproduce**
Steps to reproduce the behavior:
1. upgrade to rn 0.69
2. set env variables
3. it gets undefined

**Expected behavior**
that should work

**Screenshots**
If applicable, add screenshots to help explain your probl

[2022-09-23 22:51] AlexCernik commented on #354
same on RN 70.1

[2022-10-02 07:42] hsib19 commented on #354
add <b>babel.config.js</b>

<pre>

plugins: [
    [
      "module:react-native-dotenv",
      {
        envName: "APP_ENV",
        moduleName: "@env",
        path: ".env"
      }
    ]
  ]

</pre>

[2022-10-06 18:37] stevehanson commented on #269
I also ran into this issue, where the easy option did not work. Just opened PR #360 to update the readme.

[2022-10-12 14:48] goatandsheep commented on #269
**merged**

[2022-10-12 17:38] goatandsheep commented on #354
huh...I'm working on debugging some issues with the Babel team and I'm hoping it resolves a bunch of these, but i will also experiment shortly

[2022-10-12 17:43] goatandsheep commented on #251
do you think I should set a default value to `NODE_ENV` in the library?

[2022-10-12 17:56] #251 closed

[2022-10-12 18:09] goatandsheep commented on #199
I'm working on using a new Babel feature that came out this year but it has not been widely used so documentation has been challenging to follow. Fix should be in next release, tracked in #75

[2022-10-12 18:13] goatandsheep commented on #323
can you explain the issue a bit more? When is this feature needed? Do you have any code examples?

[2022-10-13 21:51] goatandsheep commented on #353
take a look here https://github.com/goatandsheep/react-native-dotenv/wiki/Multi-env-troubleshooting#xcode

[2022-10-13 21:59] goatandsheep opened #361 "dotenv vault reference"
@motdotla @dotenv-org

[2022-10-13 22:11] goatandsheep commented on #348
I definitely need to fix this!!

[2022-10-13 22:29] danidaryaweesh commented on #354
Is this still an issue?

[2022-10-13 22:59] goatandsheep commented on #348
There are a few issues however, which I will fix

[2022-10-13 23:05] #348 closed

[2022-10-13 23:08] goatandsheep commented on #348
note this will be released later

[2022-10-13 23:27] goatandsheep commented on #354
I'm not seeing the issue to be honest, but i'm assuming it's a caching issue

[2022-10-13 23:28] #361 closed

[2022-10-14 06:21] tobydeh commented on #348
Hi, Thanks for taking a look. I'm not convinced that the order should be inverted, I think the following test proves that to be incorrect (the env value from .local is overridden).

.env
[code]
.env.local
[code]
[code]

[2022-10-14 06:31] tobydeh commented on #348
Ignore my previous comment - the problem seems to be related to the zsh dotenv plugin on my machine, when i disable the plugin the inverted behaviour works as expected.

Thanks again.

[2022-10-19 05:33] malwatte opened #365 "Can't get multi env working"
- [x] Asked question in discussions
- [x] Tried the troubleshooting Wiki
- [x] Followed the migration Wiki

**Describe the bug**
I have multiple env files,
[code]
I use the command `APP_ENV=staging npx react-native run-ios` to run the app. But the I get undefined when accessing variables
[code]

To debug the issue I added a console log here
react-native-dotenv/index.js
![Screenshot 2022-10-19 at 1

[2022-10-19 06:08] goatandsheep commented on #365
So when you set app env in the bash profile your process env prints the correct value for app env?

Sorry I'm just trying to understand what happened here.

I'm trying to figure out if it's a issue with how the env var was set https://www.npmjs.com/package/dotenv-flow#node_env--specific-env-files

Or if it's being overwritten somehow?

Or it's another caching issue? (this will be worked on next we

[2022-10-19 07:48] malwatte commented on #365
Yes. When I set the APP_ENV in bash profile it correctly prints the values of correct .env file and I see APP_ENV is one of the `process.env` variables (when I  add a console log in `react-native-dotenv/index.js` line 40)

I even tried with a different name e.g. MY_APP_ENV by changing the envName in the babel.config.js and running `MY_APP_ENV=staging npx react-native run-ios`. But it did not work

[2022-10-19 11:16] goatandsheep commented on #365
Ok I see now. I'll make sure to test the specific command

[2022-10-24 12:19] brianwachira commented on #38
I have tried this on React Native v0.70.3 and it is not working.
I have 2 .env files, `.env.development` and `.env.production`
Here is my babel.config.js

`module.exports = {
  presets: ['module:metro-react-native-babel-preset'],
  plugins: [
    [
      'module:react-native-dotenv',
      {
        moduleName: '@env',
        path: '.env',
        blacklist: null,
        whitelist: null,

[2022-10-25 08:07] alessandrogelmi commented on #75
I'm still having the same problem

[2022-10-26 01:50] goatandsheep commented on #38
Hi @brianwachira , I'm happy to help but what is the issue? What platform are you building to? Have you created your release / dev profiles on xcode/AS? Is this part of this ticket? This one has been closed for some time and probably should have been locked

[2022-10-26 01:51] goatandsheep commented on #200
I will review this ticket

[2022-10-26 03:47] goatandsheep commented on #200
I will review this ticket but likely I'll recommend setting `NODE_ENV` if you're not just using development and production i.e. debug and release respectively and using the dev flag. Otherwise APP_ENV for everything else.

[2022-10-26 08:33] brianwachira commented on #38
Hi @goatandsheep , I am building to Android. So it turns out that the reason my `API_URL`  in .env was not recognized is that it is a `HTTP` & not `HTTPS` hence couldn't run on production because On android, as of API Level 28, clear text traffic is also blocked by default. I fixed the issue by setting [android:usesCleartextTraffic](https://developer.android.com/guide/topics/manifest/application-e

[2022-10-28 15:28] Michael-Davison commented on #75
still having issues on expo 45. Have tried every solution in here.

[2022-10-31 06:27] rodgomesc commented on #200
@ous24 i'm modified the "Start Package" script in "Build Phases"  and it's working for me, just added

[code]

<img src="https://i.imgur.com/5ckPrsA.png" />

[2022-11-01 12:17] haotang-dayone commented on #75
Tried all solutions above and none worked for me.

This nuke worked.
`rm -rf node_module && npm i`

Cheers!

[2022-11-01 12:18] haotangio commented on #75
Tried all solutions above and none worked for me.

This nuke worked.
rm -rf node_module && npm i

Cheers!

[2022-11-02 22:55] rodrigodiasf1984 commented on #308
First I've did yarn add dotenv react-native-dotenv expo-constants
Second, this works for me to close the simulator, reset the cache, and expo start!

[2022-11-03 09:25] shafayeatsumit commented on #75
The problem lies in  `node_modules/react-native-config/ios/ReactNativeConfig/GeneratedDotEnv.m` this file is not reflecting the changes you made in your `.env` file.

[2022-11-03 17:37] #75 closed

[2022-11-04 02:06] Lauro235 commented on #38
Hi, there, I'm having an issue with my variables, showing as undefined.
Here is my babel.config.js
[code]
Currently using Node 18.12.0 and NPM 8.19.2

[2022-11-04 02:37] goatandsheep commented on #38
Try `cache(false)`?

[2022-11-04 03:05] Lauro235 commented on #38
No Luck so far. I've tried clearing all the node modules and removing cache. It's not having it :(

[2022-11-04 03:13] Lauro235 commented on #38
Somehow I fixed it.. For me this worked..

[code]
[code]

[2022-11-04 15:24] CodingMeSwiftly commented on #332
A special place in hell is reserved for people like you.

[2022-11-07 00:00] MxBM commented on #20
It doesn't appear to be working at all for me. I've installed as dev dep, ensured imports utilize @env, and checked my babel.config file is properly configured. I always find it quite troublesome to setup and initialize this package, it's always a nightmare to do.

[2022-11-07 16:39] goatandsheep commented on #354
Can you try again with latest version?

[2022-11-08 21:15] omeersari commented on #308
having this problem too. couldn't fix it.

[2022-11-08 21:34] goatandsheep commented on #308
What does your Babel look like? What version of library are you on?

[2022-11-08 22:35] omeersari commented on #308
babel file

[code]

[code]

and in one of my js i use it like this:

`import { SUPABASE_API_URL, SUPABASE_API_KEY } from '@env';`

and the error I get: Unable to resolve "@env" from "src/utils/...js"

[2022-11-08 22:59] goatandsheep commented on #308
Is react-native-dotenv a dev dependency?

[2022-11-09 07:04] omeersari commented on #308
no, it is not

[2022-11-09 07:06] omeersari commented on #308
well when I kept API.cache(false) it worked. I have no idea why.

[2022-11-09 16:42] goatandsheep commented on #308
I'm so glad 🙌 but I do advise you keep it as a devDependency

[2022-11-09 21:29] dk253 opened #377 "api.addExternalDependency is not a function"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%247%20Funded-%2300A156.svg" />](https://issuehunt.io/r/goatandsheep/react-native-dotenv/issues/377)

After more than a year, I am now getting an error when I run $NODE_ENV=development expo start --web

The error is:
Uncaught Error: Module build failed (from ./node_modules/@expo/webpack-config/node_modules/babel-loader/lib/in

[2022-11-09 21:49] goatandsheep commented on #377
This is a good bug. The issue is that I did not update dependency version minimum for Babel. This is a brand new feature i worked on with the Babel team to eliminate pesky caching issues. Let me look into it

[2022-11-09 21:50] goatandsheep commented on #377
May i rename this ticket "api.addExternalDependency is not a function"?

[2022-11-09 21:55] dk253 commented on #377
@goatandsheep of course.  Thanks!

[2022-11-09 22:47] dk253 commented on #377
@goatandsheep woohoo!  That did it on my local machine.  Now I'll test with github actions.

[2022-11-09 23:17] dk253 commented on #377
Huge!  Spent a long time tracking this.  Thanks for your answer.  Works all the way through.

[2022-11-13 00:48] goatandsheep commented on #332
make sure to install as dev dependency only!

[2022-11-13 23:48] elitenas opened #378 "Caching issues still present"
Hi,

We are using the latest package for react-native-dotenv and we are still facing caching issues. We are using it with expo and typescript. Is there a way to clear the env variables cache?

[2022-11-14 18:13] elitenas commented on #378
I am getting the follow error now:

api.addExternalDependency is not a function

Here is what the dependencies part of my package.json looks like:

[code]

[2022-11-14 19:09] goatandsheep commented on #378
Upgrade Babel core dev deep

[2022-11-14 19:12] elitenas commented on #378
Same result. I tried expo r -c to start it as well.

[2022-11-14 19:25] elitenas commented on #378
Ah, I am using npm install instead of yarn. I will need to update my npm version because I think the npm 8.3.0 support this override.

[2022-11-14 20:46] goatandsheep commented on #378
if you can nudge the devs on this PR it will probably help https://github.com/expo/expo-cli/pull/4593

but the other change that _was_ merged was this https://github.com/expo/expo/pull/19829

i'm not sure how to get that in, but i guess expo should be up to date. sorry for the confusion

[2022-11-15 17:30] #378 closed

[2022-11-16 04:47] sarulathadurai commented on #59
For me the env variables are accessible while running test but while getting coverage the env variables are not loading creating
`ReferenceError: ENV_VARIABLE is not defined.`

[2022-11-16 14:55] goatandsheep commented on #59
Make sure to set `NODE_ENV` https://jestjs.io/docs/environment-variables

[2022-11-17 02:08] Tchaikovsky1114 commented on #308
it works for me! thanks a lot

[2022-11-17 18:23] #354 closed

[2022-11-17 18:24] #200 closed

[2022-11-17 18:24] #353 closed

[2022-11-23 00:52] christopherbauer opened #382 "Typescript example doesn't work in .ts files"
- [] Asked question in discussions (I'm posting a solution)
- [x] Tried the troubleshooting Wiki
- [] Followed the migration Wiki (New installation)

**Describe the bug**
When adding the library and following the description of how to use it for typescript, the module fails to load when running on the android emulator. However, changing the file extension from .ts => .tsx does fix it.

**To Reprod

[2022-11-23 00:53] christopherbauer commented on #382
Shouldn't you be tipping me since I posted the solution? 🤔

[2022-11-23 00:56] goatandsheep commented on #382
Unfortunately I'm broke right now but this is very very helpful! I will add this to the documentation. Thank you so much!

Maybe I need to reword the issue bot to indicate that I'm open to paid consulting to fix issues instead of what it currently says.

[2022-11-23 00:57] christopherbauer commented on #382
Sorry I just thought it was a funny reply, didn't mean anything by it :)

[2022-11-23 23:52] Raheemshah2809 commented on #78
I have the same issue, tried Nov 2022, It doesnt work for me

[2022-11-29 11:01] soemarko commented on #365
I'm facing the same problem, as per #385 discussion. Any update on this? I thought I missed something obvious since it seems like it just works for others. And the questions are for edge cases.